<template>
  <div class="layout">
    <!-- konten -->
    <mu-flex class="flex-wrapper content-space" justify-content="center" style="width: 100%; max-width: 441px; margin: 0 auto;">
      <content-aplikasi></content-aplikasi>
    </mu-flex>
    
    <!-- menu bawah -->
    <menu-bawah></menu-bawah>
  </div>
</template>

<script>
import ContentAplikasi from './ContentAplikasi.vue'
import MenuBawah from '@/components/MenuBawah'
export default {
  data () {
    return {
    }
  },
  components: {
    ContentAplikasi, MenuBawah
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
