@font-face {
    font-family: Avenir;
    src: url(../avenir_ff/AvenirLTStd-Black.otf) format('otf'),
         url(../avenir_ff/AvenirLTStd-Book.otf) format('otf'),
         url(../avenir_ff/AvenirLTStd-Roman.otf) format('otf');
  }

/* Layout */
body{
    background-color: #fff;
    font-family: 'Avenir LT Std 55 Roman',Arial, Helvetica, sans-serif;
}
.nav-bottom{
    position: fixed!important;
    right: 0;
    bottom: -1px;
    left: 0;
    z-index: 1030;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(110,110,110,0.30);
    -moz-box-shadow: 0px 0px 7px 0px rgba(110,110,110,0.30);
    box-shadow: 0px 0px 7px 0px rgba(110,110,110,0.30);
}
.app{
    color:#6c757d;
}
.icon-menu{
    padding-top: 13px;
}
.icon-menu img{
    height: 30px;
    width: auto;
}
.content-space {
    height: 100%;
    /* min-height: 800px; */
    background-color: #fff;
    padding-bottom: 60px;
}
.top-menu {
    width: 100%;
    position: fixed;
    top: 0;
}
.bg-info {
    background-color: #FD5051 !important;
}
.navbar-brand img {
    height: 40px;
}

img.lonceng{
    height: 30px;
}
nav.navbar.navbar-dark.bg-info.navbar-expand-lg {
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 100;
    right: 0;
    left: 0;
}
.percen-50{
    width: 50%;
}
.top-left{
    text-align: left;
}
.top-right{
    text-align: right;
}
.top-secnd-menu{
    margin-top: 60px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ddd;
}
.section-menu-1{
    height: 50px;
    border-right: 1px solid #ddd;
    padding: 10px;
    position: relative;
}
.section-menu-1 img{
    height: 30px;
    width: auto;
    margin-left: 10px;
}
.section-menu-2{
    height: 50px;
}
.section-menu-2 img{
    height: 40px;
    width: 35px;
    padding-top: 10px;
    margin-left: 10px;
}
.sub-mn-ic{
    float: left;
    width: 15%;
}
.sub-mn-fr{
    float: right;
    width: 85%;
    padding-right: 10px;
}
.sub-mn-ic-2{
    float: left;
    width: 30%;
}
.sub-mn-fr-2{
    float: right;
    width: 70%;
    padding-right: 10px;
    padding-top: 5px;
}
.reward-txt{
    font-size: 14px;
}
.point-txt{
    text-transform: uppercase;
    font-size: 12px;
    color:#FD5051;
}
.fr-loc{
    border: none;
    margin-top: -5px;
}
.VueCarousel-wrapper{
    height: 135px;
}
.VueCarousel-dot-container button {
    background-color: #D8D8D8!important;
    padding: 5px!important;
    width: 8px!important;
    height: 8px!important;
}
.VueCarousel-dot-container{
    margin-top: -15px!important;
}
.VueCarousel-dot-container .VueCarousel-dot--active {
    background-color: #fa4e06!important;
}
.slide-promo {
    margin-top: 3px;
}
.slider-promo img{
    width: 100%;
    height: 135px;
}
.body-card{
    color:#797878;
    font-size: 14px;
    padding: 15px 15px;
}
.body-card img{
    height: 14px;
}
.body-card span{
    padding-right: 10px;
}
.time-card{
    text-align: right;
    color: #fa4e06;
    font-size: 16px;
}
.card-promo{
    margin-bottom: 15px;
}
.mu-card {
    -webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)!important;
    box-shadow: 0 2px 5px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)!important;
}
.menu-kategori{
    padding: 15px 0px;;
}
.kategorinya{
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)!important;
    box-shadow: 0 2px 5px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)!important;
}
.kategorinya img{
    width: 55px;
    height: 55px;
    padding: 8px;
}
.kategori-ket{
    text-align: center;
    padding-top: 15px;
    font-size: 10px;
    color: #797878;
}
.title-menu-back{
    text-align: left;
    margin-left: 23%;
    color: #fff;
}
.percen-back-1{
    width: 30%;
}
.percen-back-1 i{
    color: #fff;
    margin-top: 15px;
    margin-left: 15px
}
.percen-back-2{
    width: 70%;
}
.icon-back{
    height: 100%;
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.event {
    padding-top: 85px;
}
.event-title{
    text-align: center;
}
.event-title h1{
    font-size: 16px;
    font-weight: bold;
}
.form-event{
    display: inline-flex;
    width: 45%;
}
.form-event i{
    position: absolute;
    padding: 6px 10px;
    font-size: 25px;
}
.control-event{
    padding-left: 30px;
    border-radius: 25px;
    background-color: rgba(255, 229, 229, 0.5);
}
.event-cari {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.cotent-event{
    padding-top: 20px;
}
.judul-event{
    padding-bottom: 10px;
}
.judul-event h1{
    font-size: 16px;
    font-weight: bold;
}
.offers{
    position: relative;
    overflow: hidden;
    height: 120px;
}
.offers img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.offers h2 {
    position: absolute;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    bottom: 0px;
    left: 10px;
    letter-spacing: 2px;
}
.keterangan-offers{
    padding-top: 10px;
}
.keterangan-offers h2{
    font-size: 16px;
    margin-bottom: 0;
    color: #6c757d;
}
.harga-offers{
    font-weight: bold;
}
.offering{
    padding-bottom: 15px;
}
.button-event{
    padding-top: 10px;
}
.btn-outline-danger {
    color: #fa4e06;
    border-color: #c3c3c3;
}
.menu-feed{
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 100;
    right: 0;
    left: 0;
    top: -1px;
}
.menu-putih{
    text-align: center;
    width: 100%;
    margin-top: 0px;
}
.menu-putih img{
    width: 82px;
}
.pointonmenu{
    font-size: 12px;
    font-weight: 500;
    color: #6c757d;
}
.pointonmenu span{
    color:#FD5051;
}
.feed-social{
    padding-top: 70px;
}
.feed-card{
    margin-bottom: 30px!important;
}
.mu-card-title-container .mu-card-title {
    color: rgba(0,0,0,.87);
    line-height: 17px!important;
    font-size: 14px!important;
    font-weight: 800;
}
.mu-card-text{
    padding: 0px 16px 16px 16px!important;
    color: rgba(76, 76, 76, 0.5);
    font-size: 14px!important;
    font-weight: 500;
    line-height: 1.5;
}
.share-area{
    padding: 16px;
    border-top: solid 1px #ddd;
}
.share-text{
    margin-left: -15px;
}
.share-in{
    text-align: right;
}
.share-in img{
    width: 30px;
}
.loading-feed{
    padding: 100px;
}
.title-menu-regular{
    text-align: center;
    width: 100%;
    color: #fff;
}
.mu-card-media {
    position: relative;
    overflow: hidden;
    /* height: 137px; */
}
.rewards-point {
    margin-top: 60px;
    display: inline-flex;
    color: rgba(0, 0, 0, 0.55);
    width: 100%;
    padding: 15px 15px;
}
.rewards-icon{
    padding-right: 15px;
}
.rewards-icon img {
    height: 30px;
}
.text-rewards{
    font-size: 14px;
    text-align: center;
    width: 100%;
}
.text-rewards span{
    color: #fd5051;
}
.rewards-tab{
    background-color: #fff;
    color: #6c757d;
    z-index: 99;
}
.mu-tab-active {
    color: #fd5051;
    font-weight: bold;
}
.mu-tabs-full-width .mu-tab {
    border: 1px solid #ddd;
}
.list-voucher{
    margin-top: 15px;
}
.card-voucher{
    position: relative;
    overflow: hidden;
    height: 150px;
}
.voucher-content{
    padding: 15px;
}
.tittle-voucher{
    color: #6c757d;
}
.point-oncard {
    display: inline-flex;
}
.point-oncard img{
    height: 30px;
    padding-right: 10px;
}
.jmlcard-point{
    color: #fd5051;
    font-size: 12px;
    padding-top: 0px;
}
.mu-error-color {
    background-color: #fd5051!important;
    text-transform: none;
}
.point-oncard-2 {
    display: inline-flex;
    margin-left: -25px;
}
.point-oncard-2 img{
    height: 30px;
    padding-right: 10px;
}
.jmlcard-point-2{
    color: #6c757d;
    font-size: 12px;
}
.main-voucher {
    margin-top: 10px;
}
.voucher-card{
    margin-bottom: 30px!important;
}
.your-voucher{
    margin-top: 10px;
}
.berlaku{
    font-size: 12px;
    color:#FD5051;
    font-weight: 800;
}
.tgl-berlaku{
    font-size: 12px;
    color: #000000;
    font-weight: 800;
    text-align: right;
}
.profile {
    padding-top: 60px;
    background: #FAFAFA;
}
.profile-area{
    padding: 15px 20px;
    background: #fff;
}
.img-profile{
    position: relative;
    overflow: hidden;
    height: 80px;
    width: 80px;
    border-radius: 74px;
    padding: 10px;
    margin: 10px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(133,133,133,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(133,133,133,1);
    box-shadow: 0px 1px 5px 0px rgba(133,133,133,1);
}
.img-profile img{
    position: absolute;
    top: 0;
    left: 0;
    max-width: none;
    width: 100%;

}
.data-profile{
    padding: 20px;
}
.data-profile h1{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.55);
    font-weight: 800;
}
.email-profile{
    color: rgba(0, 0, 0, 0.55);
    font-size: 15px;
    margin-top: -8px;
}
.profile-telp{
    color: #fa4e06;
    font-size: 14px;
}
.edit-profile{
    text-align: right;
    color: #fa4e06;
    font-weight: 800;
}
.edit-profile a{
    color: #fa4e06;
}
.poin-area {
    margin: 15px 0px;
    
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.utility{
    margin: 15px 0px;
    padding: 15px 0px;
    background: #fff;
}
.point-u{
    border-right: 1px solid #d8d8d8;
    padding: 15px 0px;
}
.share-u{
    border-right: 1px solid #d8d8d8;
    padding: 15px 0px;
}
.rank-u{
    padding: 15px 0px;
}
.val-this{
    padding: 0px 15px;
    text-align: center;
}
.val-this h2{
    font-size: 18px;
    color: #000000;
    font-weight: 800;
    margin-bottom: 0;
}
.val-this span{
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 500;
}
.img-prof-menu img{
    width: 70%;
    height: 70%;
}
.img-prof-menu {
    margin-top: 15px;
}
.menu-prof-btn{
    border-bottom: 1px solid #ddd;
    padding: 20px;
    color: #7F7F7F;
    font-weight: 500;
    font-size: 16px;
}
.logout{
    margin: 15px 0px;
    padding: 15px 0px;
    background: #fff;
    text-align: center;
}
.to-logout{
    color: #fa4e06;
    font-size: 18px;
    text-align: center;
}
.detail-rewards-img{
    position: relative;
    /* overflow: hidden; */
    height: 100%;
}
.detail-rewards-img img{
    /* position: absolute; */
    width: 100%;
    height: 100%;
}
.detail-rewards{
    padding-top: 60px;
}
.detail-rewards-info{
    background: #fff;
    padding: 10px 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
}
.detail-rewards-info h1{
    font-size: 16px;
    font-weight: 500;
}
.point-detail{
    display: inline-flex;
}
.point-detail img{
    height: 30px;
}
.detail-point{
    padding: 0px 10px;
    font-size: 14px;
    color: #fa4e06;
    font-weight: 800;
    line-height: 1;
}
.detail-remaining{
    display: inline-flex;
    margin: 0px -15px;
}
.detail-remaining img{
    height: 25px;
}
.remaining-detail{
    font-size: 14px;
    margin-left: 10px;
    color:#6c757d;
    font-weight: 400;
    line-height: 1;
}
.detail-timing{
    display:inline-flex;
}
.detail-timing img{
    height: 25px;
}
.detail-button{
    padding: 10px 0px;
}
.tabs-detail{
    margin-top: 20px;
}
.popup-berhasil{
    padding: 15px;
}
.popup-berhasil img{
    height: 134px;
}
.text-popoup{
    color: #000000;
    font-weight: 800;
    font-size: 17px;
}
.tutup-modal{
    text-align: center;
}
.tabs-transaksi{
    padding-top: 60px;
}
.notif-trasaksi{
    margin-top: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.img-notif{
    position: relative;
    overflow: hidden;
    height: 70px;
}
.img-notif img {
    width: 100%;
}
.info-transaksi{
    color: #6c757d;
    display: inline-flex;
}
.nah-ini{
    font-size: 12px;
}
.tgl-info{
    padding-top: 3px;
    margin-left: -15px;
}
.keterangan-infonya {
    margin-top: -10px;
    color: #6c757d;
    font-weight: 800;
}
.notif-date{
    font-weight: 600;
    color: #6c757d;
    padding: 15px 0px;
}
.img-notification{
    position: relative;
    overflow: hidden;
    height: 125px;
    border-radius: 8px;
}
.img-notification img{
    width: 100%;
    position:absolute;
    height: 135px;
    
}
.notification-this{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.notification-konten{
    color: rgba(0, 0, 0, 0.64);
}
.logo-login{
    padding-top: 60px;
    padding-left: 20%;
    padding-right: 20%;
}
.logo-login img{
    width: 100%;
}
.action-modal-tanya{
    text-align: right;
}
.batal-modal{
    color: #B3B3B3;
    text-align: center;
    background-color: #fff;
    border: none;
    font-weight: 800
}
.data-kosong{
    text-align: center;
}
.data-kosong img{
    width: 100px;
    margin-top: 37%;
}
.data-kosong p{
    color: #FD5051;
    padding-top: 15px;
}
.peringkat{
    padding-top: 60px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
}
.img-peringkat{
    padding: 15px 15px;
}
.img-peringkat img{
    height: 25px;
}
.period-peringkat{
    padding: 10px 0px;
}
.period-peringkat h1{
    color: #737373;
    font-size: 16px;
    font-weight: 800;
}
.period-peringkat h2{
    color: #737373;
    font-size: 16px;
    line-height: 0;
}
.update-peringkat p{
    font-size: 12px;
    color: #737373;
}
.update-peringkat{
    margin: 20px 0px;
    text-align: right;
}
.list-leaderboard{
    margin-top: 10px;
}
.numbering{
    padding: 5px 12px;
    background: #faf4e8;
    border-radius: 45px;
    border: 2px solid #edd981;
    font-weight: bold;
}
.name-lead{
    color: #737373;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0px;
}
.lead-point{
    font-weight: 800;
    font-size: 16px;
    padding: 10px 0px;
    text-align: right;
    color: #737373;
}
.leaderboard-one {
    padding: 15px 0px;
    border-bottom: 1px solid #D8D8D8;
}
.tittle-promo-detail{
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}
.ketentuan-header{
    background-color: #FFFFFF;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.13);
    height: 46px;
}
.ketentuan-header h1{
    color: #FD5051;
    font-size: 16px;
    font-weight: 800;
    padding: 15px;
}
.detail-rewards-promo {
    background: #fff;
    padding: 10px 0px;
}
.katalog-page{
    padding-top: 70px;
}
.receipt{
    padding-top: 90px;
    text-align: center;
    color: #9B9B9B;
    font-weight: 400;
}
.photo-profile{
    position: relative;
    overflow: hidden;
    height: 300px;
}
.photo-profile img{
    width: 100%;
}
.prof-name{
    color:#fa4e06;
    font-size: 14px;
    padding-bottom: 5px;
}
.name-edit{
    color: rgba(0, 0, 0, 0.55);
}
.form-edit {
    position: relative;
    z-index: 1;
    border-radius: 0;
    border-width: 0 0 1px;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    height: auto;
    padding: 3px 0 5px;
    width: 100%;
    color: rgba(0, 0, 0, 0.55);
}
.img-edit{
    position: absolute;
    z-index: 2;
    bottom: 10px;
    right: 43%;
}
.img-edit img{
    width: 50px;
}
.signup-page{
    padding-top: 90px;
}
.tittle-signup{
    text-align: center;
    color: #4C4C4C;
    
}
.tittle-signup h1{
    font-size: 21px;
}
.sign-label{
    text-transform: uppercase;
    color: #4C4C4C;
    opacity: 0.8;
    font-size: 16px;
}
.form-sign {
    padding-top: 30px;
    padding-bottom: 60px;
}
.grouping-sign {
    padding-top: 20px;
}
.title-promo h1 {
    font-size: 16px;
}
.load-hot{
    margin-left: 21%;
}
.harga{
    display: inline-flex;
}
.normal-price{
    padding-bottom: 15px;
    font-size: 14px;
    color: #fa4e06;
    font-weight: 800;
    margin-right: 20px;
}
.special-price{
    padding-bottom: 15px;
    font-size: 14px;
    color: #fa4e06;
    font-weight: 800;
}
.potong-harga{
    text-decoration: line-through;
}
.lenyap{
    display: none;
}
.page-enter-active, .page-leave-active {
    transition: opacity 1s, transform 0.3s;
}
.page-enter, .page-leave-to {
    opacity: 0;
    transform: translateX(-10%);
}
.detail-event{
    padding-top: 60px;
}
.detail-event-img{
    position: relative;
    /* overflow: hidden; */
    height: 100%;
    padding-bottom: 15px;
}
.detail-event-img img{
    width: 100%;
    height: 100%;
}
.title-event{
    color: #6c757d;
}
.title-event h1{
    font-size: 18px;
    font-weight: 500;
}
.waktu-event{
    display: inline-flex;
}
.waktu-event img{
    width: 16px;
    height: 16px;
    margin: -1px 0px;
}
.detail-event-info{
    padding-top: 15px;
    color: #6c757d;
}
.commerce-page{
    padding-top: 60px;
}
iframe.prame {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}
.banner-ebp{
    margin-top: 60px!important;
    padding-top: 0px;
}

