/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  

  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
 
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}
@media (width: 768px){


}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
 
    
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .title-menu-back {
        text-align: left;
        margin-left: 15%;
    }
    
  
}
/* iphone X */
@media (width: 375px) and (height: 812px){
 
  .numbering{
    padding: 1px 6px;
    background: #faf4e8;
    border-radius: 45px;
    border: 2px solid #edd981;
    font-weight: bold;
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .numbering{
    padding: 1px 8px;
    background: #faf4e8;
    border-radius: 45px;
    border: 2px solid #edd981;
    font-weight: bold;
  }
  .img-peringkat img {
    height: 20px;
  }
  .period-peringkat h1 {
    color: #737373;
    font-size: 14px;
    font-weight: 800;
  }
  .period-peringkat h2{
    color: #737373;
    font-size: 14px;
    line-height: 0;
  }
  .update-peringkat p {
    font-size: 10px;
    color: #737373;
  }
  .numbering {
    padding: 1px 6px;
    background: #faf4e8;
    border-radius: 45px;
    border: 2px solid #edd981;
    font-weight: bold;
    font-size: 12px;
  }
  .name-lead {
    color: #737373;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 0px;
  }
  .lead-point {
    font-weight: 800;
    font-size: 12px;
    padding: 5px 0px;
    text-align: right;
    color: #737373;
  }
}
@media(width:360px){
  
  .loading-feed{
    padding: 100px;
  }
  .login-by img{
    height: 20px!important;
    padding-right: 0px!important;
  }
  
  .img-peringkat img {
    height: 20px;
  }
  .period-peringkat h1 {
    color: #737373;
    font-size: 14px;
    font-weight: 800;
  }
  .period-peringkat h2{
    color: #737373;
    font-size: 14px;
    line-height: 0;
  }
  .update-peringkat p {
    font-size: 10px;
    color: #737373;
  }
  .numbering {
    padding: 4px 9px;
    background: #faf4e8;
    border-radius: 45px;
    border: 2px solid #edd981;
    font-weight: bold;
    font-size: 12px;
  }
  .name-lead {
    color: #737373;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 0px;
  }
  .lead-point {
    font-weight: 800;
    font-size: 12px;
    padding: 5px 0px;
    text-align: right;
    color: #737373;
  }
}