<template>
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <div class="percen-back-1 top-left" @click="back">
                <mu-ripple class="icon-back" color="#fff" :opacity="0.3" @click="back">
                    <i class="material-icons">keyboard_backspace</i>
                </mu-ripple>
            </div>
            <div class="percen-back-2 top-right">
                <div class="title-menu-back">
                    Notification
                </div>
            </div> 
        </b-navbar>

        <div class="tabs-transaksi">
            <mu-tabs :value.sync="active2"  indicator-color="#fd5051" full-width class="rewards-tab">
                <mu-tab>Messages</mu-tab>
                <mu-tab>Notification</mu-tab>
            </mu-tabs>
            <div class="list-voucher" v-if="active2 === 0">
                <messages-notif></messages-notif>
            </div>
            <div class="your-voucher" v-if="active2 === 1">
                <notification-notif></notification-notif>
            </div>
        </div>
    </div>
</template>
<script>
import MenuBack from '@/components/MenuBack'
import MessagesNotif from '@/pages/MessagesNotif'
import NotificationNotif from '@/pages/NotificationNotif'
import {auth} from '@/mixin/auth.js'
import {HTTP} from '@/url/http-common.js'
export default {
    mixins: [auth],
    data () {
        return {
            title:'Notification',
            active2: 0
        }
    },
    components: {
        MenuBack, MessagesNotif, NotificationNotif
    },
    methods: {
        back () { 
           this.$router.push({ name: "home" })
        }
    }
    
}
</script>
<style scoped>
.bg-info{
    background-color: #fa4e06!important;
}
.rewards-tab {
    background-color: #fff!important;
    color: #6c757d!important;
    z-index: 99!important;
}
.mu-tab-active{
    color: #fa4e06!important;
}
</style>


