<template>
<div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
    <b-navbar toggleable="lg" type="dark" variant="info">
        <div class="percen-back-1 top-left" @click="back">
            <mu-ripple class="icon-back" color="#fff" :opacity="0.3" @click="back">
                <i class="material-icons">keyboard_backspace</i>
            </mu-ripple>
        </div>
        <div class="percen-back-2 top-right">
            <div class="title-menu-back">
                Commerce
            </div>
        </div> 
    </b-navbar>
    <div class="commerce-page">
        <vue-friendly-iframe src="http://193.164.131.42/" @load="onLoad" className="prame"></vue-friendly-iframe>
    </div>
</div>
</template>
<script>
export default {
    data (){
        return{

        }
    },
    methods:{
        back () { 
           this.$router.push({ name: "home" })
        },
        onLoad(){
            console.log('Running!!!')
        }
    }
}
</script>
<style scoped>
iframe.prame {
    width: 100%!important;
    height: 100vh!important;
}
.bg-info{
    background-color: #fa4e06!important;
}

</style>