<template>
<div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;"> 
    <menu-atas></menu-atas>
    <div class="home-main-content" v-if="loadingNegara">
        <div class="promo-loading">
            <clip-loader :color="color" :size="size"></clip-loader>
        </div>
    </div>
    <div class="covid-cari" v-else>
        <mu-container>
        <model-list-select :list="negara"
                     v-model="items"
                     option-value="country"
                     option-text="country"
                     placeholder="select item"
                     @select="onSelect">
        </model-list-select>
        <div class="detail-button">
            <mu-button full-width color="#de1000" @click="cari">Cari</mu-button>
        </div>
        <div class="hasil-cari">
            <div v-if="lod == 0">
            
            </div>
            <div v-else>
                <div class="perhasilan">
                Hasil Pencarian
                </div>
                <mu-card class="card-promo" gutter >
                    <div class="body-card">
                        <div class="title-promo"><h1>{{caris.country}}</h1></div>
                        <div class="row">
                            <div class="col-6">
                                Kasus
                            </div>
                            <div class="col-6">
                                <div class="time-card">
                                   {{formatPrice(caris.cases)}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                Kasus Hari Ini
                            </div>
                            <div class="col-6">
                                <div class="time-card">
                                   {{formatPrice(caris.todayCases)}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                Sembuh
                            </div>
                            <div class="col-6">
                                <div class="time-card">
                                   {{formatPrice(caris.recovered)}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                Meninggal
                            </div>
                            <div class="col-6">
                                <div class="time-card">
                                   {{formatPrice(caris.deaths)}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                Meninggal Hari Ini
                            </div>
                            <div class="col-6">
                                <div class="time-card">
                                   {{formatPrice(caris.todayDeaths)}}
                                </div>
                            </div>
                        </div>
                            
                    </div>    
                </mu-card>
            </div>
        </div>
        </mu-container>
    </div>
</div>
</template>
<script>
import {HTTP} from '@/url/http-common.js'
import { ModelSelect } from 'vue-search-select'
import { ModelListSelect } from 'vue-search-select'
import MenuAtas from '@/components/MenuAtas'
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
import 'vue-search-select/dist/VueSearchSelect.css'
export default {
    data () {
      return {
        
        items: '',
        negara:[],
        caris:[],
        lod:0,
        size: '50px',
        color: '#FD5051',
        loadingNegara: false
      }
    },
    components:{
        MenuAtas, ClipLoader, ModelSelect, ModelListSelect
    },
    created(){
        this.loadingNegara = true
        HTTP.get('countries')
        .then(response => {
            this.negara= response.data
            this.loadingNegara = false
        })
        .catch(e =>{
            this.errors.push(e)
        })
    },
    methods:{
        onSelect (items) {
            this.items = items
            this.lod = 1
        },
        cari(){
            console.log(this.items)
            HTTP.get('countries/'+this.items)
            .then(response => {
                this.caris= response.data
                this.lod = 1
            })
            .catch(e =>{
                this.errors.push(e)
            })
        },
        formatPrice(value) {
            let val = (value/1).toFixed(0).replace('.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        }
    }
}
</script>
<style scoped>
.covid-cari {
    padding-top: 80px;
}
.title-promo h1{
    font-size: 17px;
    font-weight: bold;
}
.promo-loading {
    padding-top: 90px;
}
.hasil-cari{
    padding-top: 30px;
}
.perhasilan{
    padding-bottom: 10px;
}
</style>