<template>
<div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;"> 
    <menu-atas></menu-atas>
    <div class="home-main-content" v-if="loadingNegara">
        <div class="promo-loading">
            <clip-loader :color="color" :size="size"></clip-loader>
        </div>
    </div>
    <div class="data-negara" v-else>
         <mu-container>
            <mu-card class="card-promo" gutter v-for="(post, index) in negara" :key="index">
                <div class="body-card">
                    <div class="title-promo"><h1>{{post.country}}</h1></div>
                        <div class="row">
                            <div class="col-6">
                                Kasus
                            </div>
                            <div class="col-6">
                                <div class="time-card">
                                   {{formatPrice(post.cases)}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                Kasus Hari Ini
                            </div>
                            <div class="col-6">
                                <div class="time-card">
                                   {{formatPrice(post.todayCases)}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                Sembuh
                            </div>
                            <div class="col-6">
                                <div class="time-card">
                                   {{formatPrice(post.recovered)}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                Meninggal
                            </div>
                            <div class="col-6">
                                <div class="time-card">
                                   {{formatPrice(post.deaths)}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                Meninggal Hari Ini
                            </div>
                            <div class="col-6">
                                <div class="time-card">
                                   {{formatPrice(post.todayDeaths)}}
                                </div>
                            </div>
                        </div>
                </div>    
            </mu-card>
                    
        </mu-container>
    </div>
</div>  
</template>
<script>
import MenuAtas from '@/components/MenuAtas'
import {HTTP} from '@/url/http-common.js'
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
export default {
    data (){
        return{
            negara:[],
            loadingNegara: false,
            size: '50px',
            color: '#FD5051'
        }
    },
    created(){
        this.loadingNegara = true
        HTTP.get('countries')
            .then(response => {
                this.negara= response.data
                this.loadingNegara = false
            })
            .catch(e =>{
                this.errors.push(e)
            })
    },
    components:{
        MenuAtas, ClipLoader
    },
    methods:{
        formatPrice(value) {
            let val = (value/1).toFixed(0).replace('.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        }
    }
}
</script>
<style scoped>
.data-negara{
padding-top: 80px;
}
.title-promo h1{
    font-size: 17px;
    font-weight: bold;
}
.promo-loading {
    padding-top: 90px;
}
</style>
