<template>
    
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <div class="percen-back-1 top-left" @click="back">
                <mu-ripple class="icon-back" color="#fff" :opacity="0.3" @click="back">
                    <i class="material-icons">keyboard_backspace</i>
                </mu-ripple>
            </div>
            <div class="percen-back-2 top-right">
                <div class="title-menu-back">
                    Promo
                </div>
            </div> 
        </b-navbar>


        <div class="loader" v-if="loading">
            <clip-loader :color="color" :size="size"></clip-loader>
        </div>
        <div v-else>
            <div class="detail-rewards">
                <div class="detail-rewards-img">
                    <img :src="this.detailVoucher.image_voucher">
                </div>
                <div class="detail-rewards-info">
                    <mu-container>
                        <h1 class="tittle-voucher" >{{this.detailVoucher.nama_voucher}}</h1>
                        <div class="harga" v-if="this.detailVoucher.special_price != null">
                            <div class="normal-price potong-harga">
                                Rp {{formatPrice(this.detailVoucher.normal_price)}}
                            </div>
                            <div class="special-price">
                                 Rp {{formatPrice(this.detailVoucher.special_price)}}
                            </div>
                        </div>
                        <div class="harga" v-else>
                            <div class="normal-price">
                                Rp {{formatPrice(this.detailVoucher.normal_price)}}
                            </div>
                            <div class="special-price lenyap">
                                 Rp {{formatPrice(this.detailVoucher.special_price)}}
                            </div>
                        </div>
                        <div class="row det-cont">
                            <!-- <div class="col-4">
                                <div class="point-detail">
                                    <img :src="points">
                                    <div class="detail-point">{{this.detailVoucher.point_voucher}} Points</div>
                                </div>
                            </div> -->
                            <div class="col-6">
                                <div class="detail-remaining">
                                    <img :src="cupon">
                                    <div class="remaining-detail">{{this.detailVoucher.jml_voucher}} Remaining</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="detail-timing">
                                    <img :src="timing">
                                    <div class="remaining-detail">{{this.detailVoucher.expired_date | moment(" DD MMMM YYYY")}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="detail-button">
                            <mu-button full-width color="#fa4e06" @click="tukar">Pilih</mu-button>
                        </div>
                    </mu-container>
                </div>
                <div class="tabs-detail">
                    <mu-tabs :value.sync="active2"  indicator-color="#fa4e06" full-width class="rewards-tab">
                        <mu-tab>Ketentuan</mu-tab>
                        <mu-tab>Cara Pakai</mu-tab>
                    </mu-tabs>
                    <div class="list-voucher" v-if="active2 === 0">
                        <mu-container>
                        <div class="detail-tabs-body">
                                <div v-html="this.detailVoucher.syarat"></div>
                        </div>
                        </mu-container>
                    </div>
                    <div class="your-voucher" v-if="active2 === 1">
                        <mu-container>
                            <div class="detail-tabs-body">
                                <div v-html="this.detailVoucher.cara_pakai"></div>
                            </div>
                        </mu-container>
                    </div>
                </div>
            </div>
        </div>


        <!-- PERMODALAN -->
        <!-- Modal Get -->
        <b-modal ref="modal-get" hide-footer hide-header centered>
            <div class="d-block ">
                <div class="modal-tanya">
                <p class="text-popoup">Ambil Promo?</p>
                   Apakah anda akan mengambil promo ini?
                </div>
            </div>
            <div class="action-modal-tanya">
                <b-button class="batal-modal" @click="hideModalGet">Tidak</b-button>
                <b-button class="close-modal" @click="getPromo">Ya, Ambil</b-button>
            </div>

        </b-modal>



        <b-modal ref="modal-succes" hide-footer hide-header centered>
            <div class="d-block text-center">
                <div class="popup-berhasil">
                    <img :src="succes">
                </div>
                <p class="text-popoup">Berhasil</p>
            </div>
            <div class="tutup-modal">
                <b-button class="close-modal" @click="hideModal3">Tutup</b-button>
            </div>
        </b-modal>


        <!-- modal loading -->
        <b-modal ref="modal-loading" hide-footer hide-header centered>
            <div class="d-block ">
                <div class="modal-loading">
                    <clip-loader :color="color" :size="size"></clip-loader>
                    <p>Mohon Tunggu...</p>
                </div>
            </div>
        </b-modal>

         <!-- sudah ditukar-->
        <b-modal ref="modal-sudah" hide-footer hide-header centered>
            <div class="d-block ">
                <div class="modal-tanya">
                    Anda sudah mengambil promo ini.
                </div>
            </div>
            <div class="tutup-modal">
                <b-button class="close-modal" @click="hideSudah">Tutup</b-button>
            </div>
        </b-modal>



    </div>
</template>
<script>
import SuccesRedeem from '@/components/SuccesRedeem'
import MenuBack from '@/components/MenuBack'
import voucher from '@/assets/img/teteh.png'
import points from '@/assets/icon/points.png'
import cupon from '@/assets/icon/cupon.png'
import kadaluarsa from '@/assets/icon/icon-jam.png'
import succes from '@/assets/icon/succes-icon.png'
// import {auth} from '@/mixin/auth.js'
import {HTTP} from '@/url/http-common.js'
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
export default {
    // mixins: [auth],
    data () {
        return {
            points: points,
            cupon: cupon,
            succes: succes,
            title: 'Info Rewards',
            voucher: voucher,
            timing: kadaluarsa,
            active2: 0,
            detailVoucher:[],
            errors:[],
            size: '50px',
            color: '#fa4e06',
            loading: false,
            point:[],
            voucher_reedem: [],
            kode:'',
            cek_modal:[],
            keadaan: null
        }
    },
    components: {
        MenuBack, ClipLoader
    },
    created (){
        this.loading = true
        var slug = this.$route.params.slug
        HTTP.get('promo_detail/'+slug)
            .then(response => {
            this.detailVoucher = response.data
            this.cekOrang()
            this.loading = false
        })
        .catch(e => {
            this.errors.push(e)
        })
    },
    methods: {
        tukar () {

            if(this.keadaan == "OK"){
                this.$refs['modal-get'].show()
            }else{
                this.$router.push({'name': 'login'})
            }   
        },
        getPromo(){
            if(this.detailVoucher.url == null){
            this.$refs['modal-get'].hide()
            this.$refs['modal-loading'].show()
            var id_voucher = this.detailVoucher.id_voucher
            HTTP.post('get_promo',{
                id_voucher : id_voucher
            },
            {
                headers:{
                    Authorization:'Bearer '+this.$cookie.get('token_ebp')
                },
            }).then(response => {
                this.$refs['modal-loading'].hide()
                this.voucher_reedem = response.data.data
                this.$refs['modal-succes'].show()
            }).catch(e => {
                this.$refs['modal-loading'].hide()
                this.$refs['modal-sudah'].show()
                this.error.push(e)
            })   
            }else{
                window.open(this.detailVoucher.url, '_blank');
                this.$refs['modal-get'].hide()
            }
            
        },
        cekOrang(){
            HTTP.get('profile',{
            headers:{
                Authorization:'Bearer '+this.$cookie.get('token_ebp')
            }
            })
            .then(response => {
                this.keadaan = response.statusText
            })
            .catch(e => {
                this.errors.push(e)
            })
        },

        hideModalGet() {
            this.$refs['modal-get'].hide()
        },
        hideModal3() {
            this.$refs['modal-succes'].hide()
            this.$router.push("/update")
        },
        hideSudah(){
            this.$refs['modal-sudah'].hide()
        },
     
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        },
        back () { 
           this.$router.push({ name: "home" })
        }
    }
}
</script>
<style scoped>
    button.btn.close-modal.btn-secondary {
        text-align: center;
        background-color: #fff;
        color: #fa4e06;
        border: none;
        font-weight: 800;
    }
    .detail-tabs-body{
        color: #6c757d;
    }
    .loader {
        padding-top:70px ;
    }
    .form-tukartoko {
        padding: 10px 0px;
    }
    .modal-loading{
        padding: 40px 0px;
    }
    .modal-loading{
        text-align: center;
    }
    .modal-loading p{
        color: #fa4e06;
        padding: 10px 0;
    }
    .bg-info{
        background-color: #fa4e06!important;
    }
    .rewards-tab {
        background-color: #fff!important;
        color: #6c757d!important;
        z-index: 99!important;
    }
    .mu-tab-active{
        color: #fa4e06!important;
    }
    .det-cont{
        margin: 0px;
    }
    .modal-tanya {
        padding-bottom: 20px;
    }
</style>

