<template>
<div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
    <b-navbar toggleable="lg" type="dark" variant="info">
        <div class="percen-back-1 top-left" @click="back">
            <mu-ripple class="icon-back" color="#fff" :opacity="0.3" @click="back">
                <i class="material-icons">keyboard_backspace</i>
            </mu-ripple>
        </div>
        <div class="percen-back-2 top-right">
            <div class="title-menu-back">
                Event
            </div>
        </div> 
    </b-navbar>
    <div class="loader" v-if="loading">
        <clip-loader :color="color" :size="size"></clip-loader>
    </div>
    <div class="detail-event" v-else>
        <div class="detail-event-img">
            <img :src="detailEvent.gambar">
        </div>
        <mu-container>
            <div class="title-event">
                <h1>{{detailEvent.tittle_event}}</h1>
            </div>
            <div class="waktu-event">
                <img :src="timing">
                    <div class="remaining-detail">{{detailEvent.start_date | moment(" DD MMMM YYYY")}} s/d {{detailEvent.end_date | moment(" DD MMMM YYYY")}}</div>
                </div>
            <div class="detail-event-info">
                <div v-html="detailEvent.description"></div>
            </div>
        </mu-container>
    </div>
</div> 
</template>
<script>
import {HTTP} from '@/url/http-common.js'
import kadaluarsa from '@/assets/icon/icon-jam.png'
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
export default {
    data () {
        return {
            detailEvent:[],
            timing: kadaluarsa,
            size: '50px',
            color: '#fa4e06',
            loading: false
        }
    },
    components:{
        ClipLoader
    },
    created () {
        this.loading = true
        // var id_event = this.$route.params.id_event
        var slug = this.$route.params.slug
        HTTP.get('event_detail/'+slug)
            .then(response => {
            this.detailEvent = response.data
            this.loading = false
        })
        .catch(e => {
            this.errors.push(e)
        })

    },
    methods: {
        back () { 
           this.$router.push({ name: "event" })
        }
    }
}
</script>
<style scoped>
.bg-info{
    background-color: #fa4e06!important;
}
.loader {
    padding-top: 90px;
}
</style>