<template>
<div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
    <b-navbar toggleable="lg" type="dark" variant="info">
        <div class="percen-back-1 top-left" @click="back">
            <mu-ripple class="icon-back" color="#fff" :opacity="0.3" @click="back">
                <i class="material-icons">keyboard_backspace</i>
            </mu-ripple>
        </div>
        <div class="percen-back-2 top-right">
            <div class="title-menu-back">
                Event
            </div>
        </div> 
    </b-navbar>
    <div class="event">
        <div class="event-title">
            <h1>Events In</h1>
        </div>
        <mu-container>
            <div class="event-cari">
                    <div class="form-event">
                        <span><i class="fa fa-map-marker"></i></span>
                        <select class="form-control control-event" @change="changeStore" v-model="key">
                            <option disabled>-- Pilih Perusahaan --</option>
                            <option v-for="data of store" :key="data.id" :value="data.id_store">{{data.name_store}}</option>
                        </select>
                    </div>
            </div>
        </mu-container>
        <div class="cotent-event">
            <mu-container>
                <!-- <div class="judul-event">
                    <h1>Best Offers</h1>
                </div> -->
                <div class="event-loading" v-if="loadingEvent">
                    <clip-loader :color="color" :size="size"></clip-loader>
                </div>
                <div class="row" v-else>
                   
                    <div class="promo-kosong" v-if="jmlevent === 0">
                        <div>
                            <img :src="kosong">
                            <p>Data tidak ditemukan</p>
                        </div>
                    </div>
                    
                        <div class="col-6 offering" v-for="post of posts" :key="post.id" v-else>
                            <router-link :to="{name: 'detail-event', params: {slug: post.slug}}">
                            <div class="offers">
                                <img :src="post.gambar">
                            </div>
                            <div class="keterangan-offers">
                                <h2>{{post.tittle_event}}</h2>
                            </div>
                            </router-link>
                        </div>
                    


               

                </div>
            </mu-container>
        </div>
        <div class="button-event" v-if="this.posts.length < 5">
            <mu-container>
                <b-button block variant="outline-danger" @click="seeAll">Lihat Semua Event</b-button>
            </mu-container>
        </div>
    </div>
    
</div>
</template>
<script>
//import {auth} from '@/mixin/auth.js'
import {HTTP} from '@/url/http-common.js'
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
import kosong from '@/assets/icon/paper.svg'
export default {
    //mixins: [auth],
    data () {
        return {
            kosong: kosong,
            active1: 0,
            title: 'Event',
            posts: [],
            errors:[],
            store: [],
            key:null,
            loadingEvent: false,
            storeevent : [],
            jmlevent: [],
            size: '50px',
            color: '#fa4e06'
        }
    },
    mounted () {
        this.loadingEvent = true
        HTTP.get('event_limit')
            .then(response => {
            this.posts = response.data
            this.loadingEvent = false
            this.storeList()
        })
        .catch(e => {
            this.errors.push(e)
        })
    },
    components: {
        ClipLoader
    },
    methods: {
        back () {
            this.$router.push({ name: "home" })
        },
        storeList () {
            HTTP.get('store_all')
            .then(response => {
                this.store = response.data
            })
            .catch(e => {
                this.errors.push(e)
            })
        },
        changeStore (event) {
            
            
            this.loadingEvent = true
            HTTP.post('event_store',
            {
                id_store:this.key
            })
            .then(response => {
                this.posts = response.data
                this.jmlevent = response.data.length
                this.loadingEvent = false
            })
            .catch(e =>{
                this.errors.push(e)
            })
            
        },
        seeAll () {
            HTTP.get('event_all')
            .then(response => {
                this.posts = response.data
            })
            .catch(e => {
                this.errors.push(e)
            })
        }
    }

}
</script>
<style scoped>
.control-event {
    padding-left: 30px;
    border-radius: 25px;
    background-color: rgba(255, 229, 229, 0.5);
}
.event-loading{
    margin: 30px 0px;
}
.button-event {
    padding-top: 10px;
    padding-bottom: 30px;
}
.promo-kosong{
    text-align: center;
    width: 100%;
}
.promo-kosong img{
    width: 100px;
}
.promo-kosong p{
    color: #FD5051;
    padding-top: 15px;
}
.bg-info{
    background-color: #fa4e06!important;
}
</style>


