<template>
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
        <menu-atas></menu-atas>
        <div v-if="loadingNegara">
            <div class="promo-loading">
                <clip-loader :color="color" :size="size"></clip-loader>
            </div>
        </div>
        <div class="feed-social" v-else>
            <mu-container>
               
               
                    <div v-for="(item, index) in posts" :key="index"> 
                        <mu-card style="width: 100%; max-width: 375px; margin: 0 auto;" class="feed-card">
                            
                              
                                    <mu-card-media>
                                        <img :src="urlNya(item.urlToImage)">
                                    </mu-card-media>
                                        <mu-card-title :title="item.title"></mu-card-title>
                                    <mu-card-text>
                                    {{item.description}}
                                    </mu-card-text>
                                    <mu-container>
                                        <div class="share-area">
                                            <mu-button full-width color="#de1000" @click="lihat(item.url)">Baca</mu-button>
                                        </div>
                                    </mu-container>
                              
                        
                        </mu-card>


                    </div>
            </mu-container>
        </div>
    </div>
</template>
<script>
import MenuSocial from '@/components/MenuSocial'
import LoadFeed from '@/components/LoadFeed'
// import {HTTP} from '@/url/http-common.js'
import LinkPrevue from 'link-prevue'
import facebook from '@/assets/icon/facebook-icon.png'
import twitter from '@/assets/icon/twitter-icon.png'
import instagram from '@/assets/icon/instagram-icon.png'
import whatsapp from '@/assets/icon/whatsapp-icon.png'
import line from '@/assets/icon/line-icon.png'
import axios from 'axios'
import MenuAtas from '@/components/MenuAtas'
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
import {HTTP} from '@/news/http-news.js'
//import {auth} from '@/mixin/auth.js'
export default {
    //mixins: [auth],
    data () {
        return {
            facebook: facebook,
            twitter: twitter,
            instagram: instagram,
            whatsapp: whatsapp,
            line: line,
            posts: 'uajang',
            errors: [],
            arrPage :1,
            busy: false,
            feed: [],
            loading: false,
            last:null,
            loadingNegara: true,
            size: '50px',
            color: '#de1000'
        }
    },
    components: {
        MenuSocial, LinkPrevue, LoadFeed, MenuAtas, ClipLoader
    },
    mounted () {
        // this.loadingNegara = true
        // axios
        // .get('http://newsapi.org/v2/top-headlines?country=id&category=health&apiKey=e9f7a9e849fd4f90853d7e8d4d7f1d56')
        // .then(response => {
        // this.posts = response.data.articles
        // this.loadingNegara = false
        // //console.log(this.posts)
        // })
        // .catch(error => {
        //     //console.log(error)
        //     this.errored = true
        // })

        this.loadingNegara = true
        HTTP.get('top-headlines?country=id&category=health&apiKey=e9f7a9e849fd4f90853d7e8d4d7f1d56')
        .then(response => {
            this.posts= response.data.articles
            this.loadingNegara = false
        })
        .catch(e =>{
            this.errors.push(e)
        })
    
    },
    methods: {
        lihat (url) {
            window.open(url,'_blank');
        },
        urlNya(value){
            let uri = value.substring(0,5)
            if (uri != 'https'){
                return 'https://www.ecdc.europa.eu/sites/default/files/styles/is_large/public/images/Coronavirus_H.png?itok=_QCjKfqJ'
            }else{
                return value
            }
           

        }
    }
}
</script>
<style scoped>
    .share-area {
        padding: 16px 0px;
        border-top: solid 1px #ddd;
    }
    .promo-loading{
        padding-top: 80px;
    }
</style>


