<template>
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;"> 
            <menu-atas></menu-atas>
            <div class="judulan">
                <h1>Data Covid-19 Keseluruhan</h1>
            </div>
            <div class="home-main-content" v-if="loadingPromo">
                <div class="promo-loading">
                    <clip-loader :color="color" :size="size"></clip-loader>
                </div>
            </div>
            <div v-else>
                <div class="menu-kategori">
                    
                    <mu-container>
                        <mu-row gutter>
                            <mu-col span="4">
                                <div class="kategorinya">
                                    Kasus
                                    <h2>{{formatPrice(hotpromo.cases)}}</h2>
                                </div>
                            </mu-col>
                            <mu-col span="4">
                                <div class="kategorinya">
                                    Meninggal
                                    <h2>{{formatPrice(hotpromo.deaths)}}</h2>
                                </div>
                            </mu-col>
                    
                            <mu-col span="4">
                                <div class="kategorinya">
                                    Sembuh
                                    <h2>{{formatPrice(hotpromo.recovered)}}</h2>
                                </div>
                            </mu-col>
                        </mu-row>
                    </mu-container>
                </div>
            </div>
            <div class="menu-indo">
                <div class="judulan-indo">
                        <h1>Data Covid-19 Indonesia</h1>
                </div>
                <div class="home-main-content" v-if="loadingIndo">
                    <div class="promo-loading">
                        <clip-loader :color="color" :size="size"></clip-loader>
                    </div>
                </div>
                <mu-container v-else>
                        <mu-row gutter>
                            <mu-col span="6">
                                <div class="kategorinya">
                                    Kasus
                                    <h2>{{formatPrice(indon.cases)}}</h2>
                                </div>
                            </mu-col>
                            <mu-col span="6">
                                <div class="kategorinya">
                                    Meninggal
                                    <h2>{{formatPrice(indon.deaths)}}</h2>
                                </div>
                            </mu-col>
                    
                            <mu-col span="6">
                                <div class="kategorinya indon">
                                    Sembuh
                                    <h2>{{formatPrice(indon.recovered)}}</h2>
                                </div>
                            </mu-col>

                            <mu-col span="6">
                                <div class="kategorinya indon">
                                    Meninggal Hari Ini
                                    <h2>{{formatPrice(indon.todayDeaths)}}</h2>
                                </div>
                            </mu-col>
                        </mu-row>
                    </mu-container>
            </div>

            
            <!-- <div class="home-main-content" v-else>
                <div class="promo-kosong" v-if="jmlpromo === 0">
                    <div class="promo-kosong">
                        <img :src="kosong">
                        <p>Data tidak ditemukan</p>
                    </div>
                </div>
                <div v-else>
                    <mu-container>
                       
                        
                        <mu-card class="card-promo" v-for="item of hotpromo" :key="item.id">
                                <router-link :to="{name: 'promo-detail', params: {slug: item.slug}}"> 
                                    <mu-card-media>
                                        <img :src="item.image_voucher">
                                    </mu-card-media>
                                    <div class="body-card">
                                        <div class="title-promo"><h1>{{item.nama_voucher}}</h1></div>
                                        <div class="row">
                                            <div class="col-6">
                                            <span><img :src="timeRemaining"></span> Berlaku Hingga
                                            </div>
                                            <div class="col-6">
                                                <div class="time-card">
                                                    {{item.expired_date | moment(" DD MMMM YYYY")}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </router-link>     
                        </mu-card>

                    </mu-container>
                </div>

            </div> -->


        
            
    </div>
</template>
<script>
import MenuAtas from '@/components/MenuAtas'
import teteh from '@/assets/img/teteh.png'
import buah from '@/assets/img/buah.png'
import gift from '@/assets/img/gift.png'
import timeRemaining from '@/assets/icon/time-remaining.png'
import event from '@/assets/icon/ebp_EVENT.svg'
import promo from '@/assets/icon/ebp_HOT PROMO.svg'
import katalog from '@/assets/icon/ebp_UPDATE.svg'
import transaksi from '@/assets/icon/ebp_COMMERCE.svg'
import shopingCart from '@/assets/icon/ebp_PERUSAHAAN.svg'
import kosong from '@/assets/icon/paper.svg'
import points from '@/assets/icon/ebp_REWARD.svg'
import { Carousel, Slide } from 'vue-carousel'
import {HTTP} from '@/url/http-common.js'
import { resolve } from 'url';
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
export default {
    data () {
        return {
            errors:[],
            teteh:teteh,
            kosong: kosong,
            buah: buah,
            gift: gift,
            event: event,
            promo: promo,
            katalog: katalog,
            transaksi: transaksi,
            timeRemaining: timeRemaining,
            shopingCart: shopingCart,
            points: points,
            selected: null,
            point:[],
            hitung: null,
            location: [],
            loadingLocation: false,
            hotpromo:[],
            jmlpromo: [],
            size: '50px',
            color: '#FD5051',
            loadingPromo: false,
            key:null,
            indon:[],
            loadingIndo: false
            
        }
    },
    components: {
        Carousel, Slide, MenuAtas, ClipLoader
    },
    created() {

        this.hotPromo()
        this.hotIndon()
        
        
    },
    methods: {

    
        hotPromo () {
            this.loadingPromo = true
            HTTP.get('all')
            .then(response => {
                this.hotpromo = response.data
                this.loadingPromo = false
            })
            .catch(e =>{
                this.errors.push(e)
            })
        },
        hotIndon () {
            this.loadingIndo = true
            HTTP.get('countries/Indonesia')
            .then(response => {
                this.indon= response.data
                this.loadingIndo = false
            })
            .catch(e =>{
                this.errors.push(e)
            })
        },
        rubahStore (event){
                
        },
        formatPrice(value) {
        let val = (value/1).toFixed(0).replace('.')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        }
        
    }
}
</script>
<style scoped>
.indon{
    margin-top: 20px;
}
.judulan{
    text-align: center;
    padding-bottom: 20px;

    padding-top: 80px;
}
.judulan h1{
    font-size: 20px;
}
.judulan-indo{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
}
.judulan-indo h1{
    font-size: 20px;
}

.kategorinya h2{
    font-size: 17px;
    font-weight: bold;
    color: #de1000;
}
.cicing{
    position: sticky;
    top: 60px;
    background: #fff;
    z-index: 2;
}
.mu-card-media {
    height: 137px;
}
.loding-banner{
    padding: 30px;
}
.promo-nihil {
    color: #FD5051;
    text-align: center;
    padding: 50px;
}
.promo-kosong{
    text-align: center;
    margin-top: 30px;
}
.promo-kosong img{
    width: 100px;
}
.promo-kosong p{
    color: #FD5051;
    padding-top: 15px;
}
.promo-loading{
    margin-top: 23%;
}
/* .VueCarousel {
    display: flex!important;
    flex-direction: column!important;
    position: relative!important;
    margin-top: 60px!important;
} */
</style>


