<template>
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <div class="percen-back-1 top-left" @click="back">
                <mu-ripple class="icon-back" color="#fff" :opacity="0.3" @click="back">
                    <i class="material-icons">keyboard_backspace</i>
                </mu-ripple>
            </div>
            <div class="percen-back-2 top-right">
                <div class="title-menu-back">
                    Hot Promo
                </div>
            </div> 
        </b-navbar>

            <div class="hot-promo">
                <mu-container>
                    <div class="filter-button">
                        <mu-button color="#fa4e06" @click="openFullscreenDialog">
                            Filter
                            <mu-icon right value="filter_list"></mu-icon>
                        </mu-button>
                    </div>

                    <div class="row ">
                        <div v-infinite-scroll="loadMore" infinite-scroll-disabled="busy">
                            <mu-card class="card-promo" v-for="(item,index) in hotpromo" :key="index">
                                <router-link :to="{name: 'promo-detail', params: {slug: item.slug}}">
                                    <mu-card-media>
                                        <img :src="item.image_voucher">
                                    </mu-card-media>
                                    <div class="body-card">
                                        <div class="title-promo"><h1>{{item.nama_voucher}}</h1></div>
                                        <div class="row">
                                            <div class="col-6">
                                                <span><img :src="timeRemaining"></span> Berlaku Hingga
                                            </div>
                                            <div class="col-6">
                                                <div class="time-card">
                                                    {{item.expired_date | moment(" DD MMMM YYYY")}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </router-link>
                            </mu-card>
                            <div class="load-hot" v-if="this.loadingPromo" >  
                                <div class="loading-feed">
                                    <load-feed></load-feed>
                                </div>
                            </div>
                        </div>
                    </div>
                </mu-container>
            </div>
            
            <!-- filter -->
            <mu-container>
                <mu-dialog width="360" transition="slide-bottom" fullscreen :open.sync="openFullscreen">
                    <mu-appbar color="#fa4e06" title="Filter">
                        <mu-button slot="left" icon @click="closeFullscreenDialog">
                            <mu-icon value="close"></mu-icon>
                        </mu-button>
                    </mu-appbar>
                    <div style="padding: 24px;">
                        <b-form-group label="Perusahaan:">
                            <b-form-checkbox
                                v-for="option in location"
                                v-model="selected"
                                :key="option.id_store"
                                :value="option.id_store"
                                name="flavour-3a"
                            >
                            {{ option.name_store }}
                            </b-form-checkbox>
                        </b-form-group>
                       <div class="button-select">
                            <mu-container>
                                <b-button block variant="outline-danger" @click="selectStore ">Terapkan FIlter</b-button>
                            </mu-container>
                       </div>
                    </div>
                </mu-dialog>
            </mu-container>

    </div>
</template>
<script>
// import {auth} from '@/mixin/auth.js'
import timeRemaining from '@/assets/icon/time-remaining.png'
import {HTTP} from '@/url/http-common.js'
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
import LoadFeed from '@/components/LoadFeed'
export default {
    // mixins: [auth],
    data () {
        return {
            timeRemaining: timeRemaining,
            errors: [],
            hotpromo: [],
            loadingPromo: false,
            size: '50px',
            color: '#FD5051',
            arrPage :1,
            busy: false,
            last:null,
            openFullscreen: false,
            selected:[],
            loadingPromo: false,
            location:[]
        }
    },
    components: {
        ClipLoader, LoadFeed
    },
    mounted () {
        this.loadData()
    },
    methods: {
        loadMore(){
            this.arrPage += 1
            this.busy = true
            if(this.arrPage === this.last){
                // this.busy = true
            }else{
                this.loadingPromo = true
                HTTP.get('hot_promo?page='+this.arrPage)
                    .then(response => {
                    this.hotpromo.push(response.data.data[0])
                    this.busy = false
                    this.loadingPromo = false
                   
                })
                .catch(e => {
                    this.errors.push(e)
                })
            }
        },

        back () {
            this.$router.push({ name: "home" })
        },

        openFullscreenDialog () {
            this.openFullscreen = true;
        },

        closeFullscreenDialog () {
            this.openFullscreen = false;
        },
        loadData(){
            this.loadingPromo = true
            HTTP.get('hot_promo?page')
            .then(response => {
                this.hotpromo = response.data.data
                this.last = response.data.last_page + 1
                this.loadingPromo = false
                this.storeList() 
            })
            .catch(e =>{
                this.errors.push(e)
                
            })
        },
        storeList () {
            this.loadingLocation = true
            HTTP.get('reg_store')
                .then(response => {
                    this.location = response.data
                    this.loadingLocation = false
                })
            .catch(e =>{
                this.errors.push(e)
            })
        },

        selectStore () {
            if(this.selected.length == 0){
                this.closeFullscreenDialog()
                location.reload();
                //this.loadData()
            }else{
                this.loadingPromo = true
                HTTP.post('filter',{
                        sbu : this.selected
                    },
                    {
                    headers:{
                        'Content-Type': 'application/json'
                    },
                })
                .then(response => {
                    this.hotpromo = response.data.data
                    this.loadingPromo = false
                    this.closeFullscreenDialog()
                    this.storeList() 
                })
                .catch(e =>{
                    this.errors.push(e)
                })

            }

            
        },
        urlEx(url){
            window.open(url, '_blank');
        }

      
    },
    
}
</script>
<style scoped>
.hot-promo{
    padding-top: 70px;
}
.mu-card-media {
    height: 137px;
    /* margin: 0px -15px; */
}
.loading-promo{
    padding-top: 80px!important;
}
.bg-info{
    background-color: #fa4e06!important;
}
.jeda-promo{
    color: aqua;
}
.filter-button{
    margin-right: -15px;
    padding-bottom: 10px;
    text-align: right;
}
.button-select{
    width: 88%;
    bottom: 25px;
    position: fixed;
}
</style>


