<template>
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <div class="percen-back-1 top-left" @click="back">
                <mu-ripple class="icon-back" color="#fff" :opacity="0.3" @click="back">
                    <i class="material-icons">keyboard_backspace</i>
                </mu-ripple>
            </div>
            <div class="percen-back-2 top-right">
                <div class="title-menu-back">
                    Katalog
                </div>
            </div> 
        </b-navbar>
        <div class="loader-katalog" v-if="loadingKatalog">
            <clip-loader :color="color" :size="size"></clip-loader>
        </div>
        <div class="katalog-page" v-else>
            <mu-container>
                <div class="row">
                    <div class="col-6" v-for="post of posts" :key="post.id">
                        <mu-card class="card-promo">
                            <mu-card-media class="katalog-media">
                                <img :src="post.gambar">
                            </mu-card-media>
                            <div class="tomol-download">
                                <mu-button full-width color="error" @click="download(post.file)"><i class="fa fa-download"></i> Download</mu-button>
                            </div>
                        </mu-card>
                    </div>
                </div>
            </mu-container>
        </div>
        <div class="button-event">
            <mu-container v-if="this.posts.length < 5">
                <b-button block variant="outline-danger" @click="openAll">See All</b-button>
            </mu-container>
        </div>
        
    </div>
</template>
<script>
import {auth} from '@/mixin/auth.js'
import {HTTP} from '@/url/http-common.js'
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
export default {
    mixins: [auth],
    data () {
        return {
            posts:[],
            errors: [],
            loadingKatalog: false,
            size: '50px',
            color: '#FD5051'
        }
    },
    components: {
        ClipLoader
    },
    mounted () {
        this.loadingKatalog = true
        HTTP.get('katalog_all',{
            headers:{
                Authorization:'Bearer '+localStorage.getItem('token') 
            }
        })
            .then(response => {
            this.posts = response.data
            this.loadingKatalog = false
        })
        .catch(e => {
            this.errors.push(e)
        })
    },
    methods: {
        back () {
            this.$router.push({ name: "home" })
        },
        download (file) {
            const url = file
            window.location.href=file

        },
        openAll () {
            this.loadingKatalog = true
            HTTP.get('katalog_see_all',{
                headers:{
                    Authorization:'Bearer '+localStorage.getItem('token') 
                }
            })
            .then(response => {
                this.posts = response.data
                this.loadingKatalog = false
            })
            .catch(e => {
                this.errors.push(e)
            })
        }

    }
}
</script>
<style scoped>
.loader-katalog{
    padding-top: 80px;
}
.katalog-media{
    position: relative;
    height: 170px;
    overflow: hidden;
}
.katalog-media img{
    position: absolute;
    height: 230px;
}
.bg-info{
    background-color: #fd5051!important;
}
.tomol-download i{
    padding-right: 8px;
}
</style>


