<template>
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
        <menu-back :title="title"></menu-back>
        <div class="peringkat">
            <mu-container>
                <div class="row">
                    <div class="col-2">
                        <div class="img-peringkat">
                            <img :src="peringkat">
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="period-peringkat">
                            <h1> Peringkat</h1>
                            <h2>Periode {{kaping}}</h2>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="update-peringkat">
                            <!-- <p>Updated 7 min ago</p> -->
                        </div>
                    </div>
                </div>
            </mu-container>
        </div>
        <div class="list-leaderboard" v-if="loadingBoard">
            <clip-loader :color="color" :size="size"></clip-loader>
        </div>
        <div class="list-leaderboard" v-else>
            <mu-container>

                <div class="leaderboard-one" v-for="post of posts" :key="post.id">
                    <div class="row">
                        <div class="col-2">
                            <div class="numbering">
                                {{post.rank}}
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="name-lead">
                                {{post.nama}}
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="lead-point">
                                {{post.point}}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="leaderboard-one">
                    <div class="row">
                        <div class="col-2">
                            <div class="numbering">
                                2
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="name-lead">
                                Rendy Permana
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="lead-point">
                                3000 Points
                            </div>
                        </div>
                    </div>
                </div> -->

            </mu-container>
        </div>
    </div>
</template>
<script>
import MenuBack from '@/components/MenuBack'
import peringkat from '@/assets/icon/Peringkat.png'
import {auth} from '@/mixin/auth.js'
import {HTTP} from '@/url/http-common.js'
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
    export default {
        mixins: [auth],
        data () {
            return {
                title: 'Leaderboard',
                peringkat: peringkat,
                errors:[],
                posts:'',
                kaping:[],
                loadingBoard: false,
                size: '50px',
                color: '#FD5051'
            }
        },
        components: {
            MenuBack, ClipLoader
        },
        created () {
            this.loadingBoard = true
            HTTP.get('leaderboard',{
                headers:{
                    Authorization:'Bearer '+localStorage.getItem('token') 
                }
            })
                .then(response => {
                this.posts = response.data
                this.loadingBoard = false
                
            })
            .catch(e => {
                this.errors.push(e)
            })

            const bulan = new Date()
            var month = ["Januari","Februari","Maret","April","Mei","Juni","Juli","Augustus","September","Oktober","November","Desember"]
            this.kaping = month[bulan.getMonth()]
            
        }
    }
</script>
<style scoped>
    .bg-info{
        background-color: #fd5051!important;
    }
</style>



