<template>
    <div class="voucher-list">

        <div v-if="loadingVoucher">
            <loading-voucher></loading-voucher>
        </div>
        <div v-else>
            <div v-if="this.hitung === 0">
                <div class="data-kosong">
                    <img :src="kosong">
                    <p>Data tidak ditemukan</p>
                </div>
            </div>
            <div v-else>
                <mu-card style="width: 100%; max-width: 375px; margin: 0 auto;" class="voucher-card" v-for="post of vouchers" :key="post.id">
                    <mu-card-media class="card-voucher">
                        <img :src="post.voucher.image_voucher">
                    </mu-card-media>
                    <div class="voucher-content">
                        <div class="tittle-voucher">
                            {{post.voucher.nama_voucher}}
                        </div>
                                  
                        <div class="main-voucher">
                            <div class="row">
                                <div class="col-12">
                                    <mu-button full-width color="#fa4e06" @click="prosesPromo(post.id_reedem)">Proses</mu-button>
                                    <!-- <mu-button color="error" :to="{ name: 'detail-rewards', params: { id_voucher: post.id_voucher }}">Tukar</mu-button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </mu-card>
            </div>
        </div>


        <!-- PERMODALAN -->
        <!-- Modal Tebus -->
        <b-modal ref="modal-tebus" hide-footer hide-header centered>
            <div class="d-block ">
                <div class="modal-tanya">
                <p class="text-popoup">Proses Promo</p>
                   <span>*Kode ini diisi oleh petugas ditempat</span>
                   <b-form-input
                        id="input-1"
                        v-model="kode_store"
                        type="text"
                        required
                        placeholder="Kode Perusahaan"
                    ></b-form-input>
                </div>
            </div>
            <div class="action-modal-tanya">
                <b-button class="batal-modal" @click="tutup">Tidak</b-button>
                <b-button class="close-modal" @click="promoExecute">Proses</b-button>
            </div>
        </b-modal>

        <!-- modal loading -->
        <b-modal ref="modal-loading" hide-footer hide-header centered>
            <div class="d-block ">
                <div class="modal-loading">
                    <clip-loader :color="color" :size="size"></clip-loader>
                    <p>Mohon Tunggu...</p>
                </div>
            </div>
        </b-modal>

        <!-- modal berhasil -->
        <b-modal ref="modal-succes" hide-footer hide-header centered>
            <div class="d-block text-center">
                <div class="popup-berhasil">
                    <img :src="succes">
                </div>
                <p class="text-popoup">Berhasil</p>
            </div>
            <div class="tutup-modal">
                <b-button class="close-modal" @click="tutupSukses">Tutup</b-button>
            </div>
        </b-modal>

         <!-- salah kode-->
        <b-modal ref="modal-salah" hide-footer hide-header centered>
            <div class="d-block ">
                <div class="modal-salah">
                    Kode Salah
                </div>
            </div>
            <div class="tutup-modal">
                <b-button class="close-modal" @click="tutupSalah">Tutup</b-button>
            </div>
        </b-modal>

    </div>
</template>
<script>
import points from '@/assets/icon/points.png'
import cupon from '@/assets/icon/cupon.png'
import kosong from '@/assets/icon/paper.svg'
import voucher from '@/assets/img/teteh.png'
import {auth} from '@/mixin/auth.js'
import {HTTP} from '@/url/http-common.js'
import LoadingVoucher from '@/components/LoadingVoucher'
import timeRemaining from '@/assets/icon/time-remaining.png'
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
import succes from '@/assets/icon/succes-icon.png'
export default {
    mixins: [auth],
    data () {
        return{
            succes: succes,
            size: '50px',
            color: '#fa4e06',
            points: points,
            cupon: cupon,
            kosong: kosong,
            errors: [],
            voucher: voucher,
            vouchers: [],
            loadingVoucher: false,
            hitung:[],
            id_redeem:'',
            kode_store:''
        }
    },
    components: {
        LoadingVoucher, ClipLoader
    },
    created () {
        this.loadingVoucher = true
        HTTP.get('promoku',{
            headers:{
                Authorization:'Bearer '+this.$cookie.get('token_ebp')
            }
        })
            .then(response => {
            this.vouchers = response.data.data
            this.hitung = response.data.data.length
            this.loadingVoucher = false
        })
        .catch(e => {
            this.errors.push(e)
        })
    },
    methods: {
        tukarVoucher () {
            this.$router.push({ name: 'detail-rewards' })
        },
        prosesPromo(id_reedem){
            this.$refs['modal-tebus'].show()
            this.id_redeem = id_reedem

        },
        tutup(){
            this.$refs['modal-tebus'].hide()
        },
        tutupSukses(){
            this.$refs['modal-succes'].hide()
            this.$router.push("/home")
        },
        tutupSalah(){
            this.$refs['modal-salah'].hide()
        },
        promoExecute(){
            this.$refs['modal-loading'].show()
            this.$refs['modal-tebus'].hide()
            HTTP.post('proses_promo',{
                id_reedem: this.id_redeem,
                kode : this.kode_store
            },
            {
                headers:{
                    Authorization:'Bearer '+this.$cookie.get('token_ebp')
                },
            })
            .then(response => {
                this.$refs['modal-loading'].hide()
                this.$refs['modal-succes'].show()
            })
            .catch(e => {
                this.$refs['modal-loading'].hide()
                this.$refs['modal-salah'].show()
                this.errors.push(e)
            })

        }
    }
}
</script>
<style scoped>
    button.btn.close-modal.btn-secondary {
        text-align: center;
        background-color: #fff;
        color: #fa4e06;
        border: none;
        font-weight: 800;
    }
    .modal-tanya span{
        font-size: 12px;
    }
    .modal-tanya{
        padding-bottom: 20px;
    }
    .modal-loading{
        padding: 40px 0px;
    }
    .modal-loading{
        text-align: center;
    }
    .modal-loading p{
        color: #fa4e06;
        padding: 10px 0;
    }
    .modal-salah{
        text-align: center;
        padding-bottom: 20px;
    }
</style>

