<template>
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
        <div class="logo-login">
            <img :src="logoMerah">
        </div>
        <div class="login-form">
            <mu-container>
                <div class="form-group">
                    <input type="email" class="form-control login-frm" placeholder="Email" id="inputEmail" v-model="input.email" />
                </div>   
                <div class="form-group ">
                    <input type="password" class="form-control login-frm" placeholder="Password" id="inputPassword" v-model="input.password" />
                </div>  
                <div class="forgot">
                    <router-link to="/lupa-password" class="forgot-password">Lupa <i>Password?</i></router-link>
                </div>
            </mu-container>
            <div class="login-bottom">
                <mu-button round large full-width color="#fa4e06" class="login" @click="login">
                    <span v-if="loading">Memuat...</span><span v-else>Masuk</span>
                </mu-button>
            </div>
            <p style="color:#b71c1c; padding-top:20px; text-align:center;">{{message}}</p>
        </div>
        <div class="part-bottom-login">
            <div class="sosmed-login">
                <!-- <mu-container>
                    <div class="popular-package-line">
                        <h1>atau login dengan</h1>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="login-by">
                                <img :src="icon2">
                                <span class="login-name">Google</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="login-by">
                                <img :src="icon1">
                                <span class="login-name">Facebook</span>
                            </div>
                        </div>
                        <div class="col-6 offset-3 ic-3">
                            <div class="login-by">
                                <img :src="icon3">
                                <span class="login-name">Twitter</span>
                            </div>
                        </div>
                    </div>
                </mu-container> -->
                <div class="sign-up">
                        Tidak punya akun? <router-link to="/daftar"> Daftar</router-link>
                </div>
            </div>
        </div>
    </div>
    
</template>
<script>
import logoMerah from '@/assets/icon/ebp-header.png'
import icon1 from '@/assets/icon/login-1.svg'
import icon2 from '@/assets/icon/login-2.svg'
import icon3 from '@/assets/icon/login-3.svg'
import {HTTP} from '@/url/http-common.js'
export default {
    data () {
        return{
            logoMerah: logoMerah,
            icon1: icon1,
            icon2: icon2,
            icon3: icon3,
            input: {
                email: "",
                password: ""
            },
            message: "",
            loading: false
        }
    },
    methods: {
        login () {
            this.loading = true
            HTTP.post(`login`,{
                    email : this.input.email,
                    password : this.input.password
            })
            .then(response => {
                this.respon = response.data.token
                if (this.respon == null){
                    this.message = response.data.message
                    this.loading = false
                }else{
                    this.$cookie.set('token_ebp',this.respon, { expires: '1h' });
                    const token = this.$cookie.get('token_ebp')

                    //localStorage.setItem('token', this.respon)
                    // const token = localStorage.getItem('token') 
                    this.loading = false
                    this.$emit("authenticated", true)
                    this.$router.push({ name: "home" })
                }
            })
            .catch(error => {
                if (error.response) {
                    this.message ="Email dan Password tidak cocok / tidak ditemukan"
                    this.loading = false
                }
            })
        }
    }
}
</script>
<style scoped>
    .login-frm{
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid rgba(76, 76, 76, 0.5);
        border-radius: 0px;
        color: rgba(76, 76, 76, 0.5);
        margin-top: 30px;
    }
    .login-form {
        margin-top: 60px;
        padding: 0px 20px;
    }
    .forgot{
        text-align: right;
    }
    .forgot-password{
        color: #fa4e06;
    }
    .login-bottom {
        margin-top: 30px;
        padding: 0px 20px;
    }
    .part-bottom-login{
        padding: 0px 20px;
        margin-top: 30px;
    }
    .login-by img{
        height: 30px;
        padding-right: 10px;
    }
    .login-by {
        border: 1px solid #979797;
        border-radius: 24px;
        padding: 10px 15px;
    }
    .ic-3{
        margin-top: 20px;
    }
    .login-name{
        font-weight: 900;
        color: rgba(0, 0, 0, 0.6);
    }
    .login{
        height: 50px;
    }
    .popular-package-line {
        padding: 15px 0px;
        color: rgba(0, 0, 0, 0.4);
    }
    .popular-package-line h1 {
        overflow: hidden;
        text-align: center;
        font-size: 16px;
    }
    .popular-package-line h1:before,
    .popular-package-line h1:after {
        background-color: #898989;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 30%;
    }
    .popular-package-line h1:before {
        right: 0.5em;
        margin-left: -50%;
    }
    .popular-package-line h1:after {
        left: 0.5em;
        margin-right: -50%;
    }
    .sign-up{
        text-align: center;
        margin-top: 30px;
        color: rgba(0, 0, 0, 0.6);
    }
    .sign-up a{
        color: rgba(0, 0, 0, 0.6);
        font-weight: bold;
    }
</style>


