<template>
    <div class="messages-notif">
        <mu-container>
            <div v-if="loadingMessage">
                <clip-loader :color="color" :size="size"></clip-loader>
            </div>
            <div v-else>
                <div class="notif-trasaksi" v-for="post of message" :key="post.id">
                    <!-- <div class="notif-date">{{post.created_at | moment("LL")}}</div> -->
                    <div class="row" v-if="post.gambar === null">
                        <div class="col-12">
                            <div class="keterangan-transaksi">
                                <div class="info-transaksi">
                                    Info Terbaru <span class="tgl-info"><ul class="nah-ini"><li>{{post.created_at | moment(" DD MMM")}}</li></ul></span>
                                </div>
                                <div class="keterangan-infonya">
                                    <div v-html="post.messages"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-else> 
                        <div class="col-4">
                            <div class="img-notif">
                                <img :src="post.gambar">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="keterangan-transaksi">
                                <div class="info-transaksi">
                                    Info Terbaru <span class="tgl-info"><ul class="nah-ini"><li>{{post.created_at | moment(" DD MMM")}}</li></ul></span>
                                </div>
                                <div class="keterangan-infonya">
                                    <div v-html="post.messages"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                     
        </mu-container>
    </div>
</template>
<script>
import {auth} from '@/mixin/auth.js'
import {HTTP} from '@/url/http-common.js'
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
export default {
    mixins: [auth],
    data () {
        return {
            errors: [],
            message: [],
            loadingMessage: false,
            size: '50px',
            color: '#FD5051'
        }
    },
    components: {
        ClipLoader
    },
    mounted () {
        this.loadingMessage = true
        HTTP.get('message_all',{
            headers:{
                Authorization:'Bearer '+this.$cookie.get('token_ebp')
            }
        })
            .then(response => {
            this.message = response.data
            this.loadingMessage = false
        })
        .catch(e => {
            this.errors.push(e)
        })
    }
}
</script>

