<template>
    <div class="notofication-notif">
        <mu-container>
            <div v-if="loadingNotif">
                <clip-loader :color="color" :size="size"></clip-loader>
            </div>
            <div v-else>
                <div class="notification-this"  v-for="post of notif" :key="post.id">
                    <div v-if="post.voucher === null">
                        <div class="notif-date">{{post.created_at | moment("LL")}}</div>
                        <div class="row">
                            <div class="col-12">
                                <div class="notification-konten">
                                    {{post.keterangan}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="notif-date">{{post.created_at | moment("LL")}}</div>
                        <div class="row">
                            <div class="col-6">
                                <div class="img-notification">
                                    <img :src="post.voucher.image_voucher">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="notification-konten">
                                    {{post.keterangan}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- <div class="notification-this">
                <div class="notif-date">25 Februari</div>
                <div class="row">
                    <div class="col-6">
                        <div class="img-notification">
                            <img src="https://www.theboroughlancaster.co.uk/wp-content/uploads/2016/11/The-Lodge-The-Borough-Gift-Voucher-20.jpg">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="notification-konten">
                            Kamu telah menukarkan kupon Jaquelle Transmart 30%
                        </div>
                    </div>
                </div>
            </div> -->
          
        </mu-container>
    </div>
</template>
<script>
import {auth} from '@/mixin/auth.js'
import {HTTP} from '@/url/http-common.js'
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
export default {
    mixins: [auth],
    data () {
        return {
            size: '50px',
            color: '#FD5051',
            loadingNotif: false,
            errors:[],
            notif:[]
        }
    },
    components: {
        ClipLoader
    },
    mounted () {
        this.loadingNotif = true
        HTTP.get('notif_log',{
            headers:{
                Authorization:'Bearer '+this.$cookie.get('token_ebp')
            }
        })
            .then(response => {
            this.notif = response.data
            this.loadingNotif = false
        })
        .catch(e => {
            this.errors.push(e)
        })
    }
}
</script>
<style scoped>

</style>
