<template>
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto; padding-bottom: 30px;">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <div class="percen-back-1 top-left" @click="back">
                <mu-ripple class="icon-back" color="#fff" :opacity="0.3" @click="back">
                    <i class="material-icons">keyboard_backspace</i>
                </mu-ripple>
            </div>
            <div class="percen-back-2 top-right">
                <div class="title-menu-back">
                    Lupa Password
                </div>
            </div> 
        </b-navbar>
        <div class="form-forget">
            <div class="icon-forget">
                <img :src="gembok">
            </div>
        </div>
        <div class="form-lupa">
            <mu-container>
                <div class="lupa-email">
                    <h5>Lupa <i>Password?</i></h5>
                    Masukan email anda untuk mengatur ulang <i>password</i> 
                    <div class="alerting">{{pesan}}</div>
                </div>
                <div class="grouping-sign">
                    <div class="name-edit">
                        <input type="text" class="form-edit" placeholder="Email" v-model="email">
                    </div>
                </div>
                <div class="login-bottom">
                    <mu-button  large full-width color="#fa4e06" class="login" @click="lupa">
                        <span v-if="loading">Memuat...</span><span v-else>Atur Ulang Password</span>
                    </mu-button>
                </div>
            </mu-container>
        </div>
    </div>
</template>
<script>
import lock from '@/assets/icon/open-lock.svg'
import {HTTP} from '@/url/http-common.js'
import { resolve } from 'url';
export default {
    data () {
        return {
            gembok: lock,
            email: null,
            akulupa: [],
            pesan:'',
            loading: false
        }
    },
    methods: {
        back () {
            this.$router.push({ name: "login" })
        },
        lupa () {
            this.loading = true
            HTTP.post(`forgot_me`,{
                email : this.email
            })
            .then(response => {
                this.akulupa = response.data
                this.pesan = this.akulupa.message
                this.loading = false
            })
            .catch(error => {
                if (errors.response) {
                    this.pesan ="Reset password gagal"
                }
            })
        }
    }
}
</script>
<style scoped>
    .form-forget{
        padding-top: 80px;
        padding-bottom: 20px;
        background: #fa4e06;
    }
    .bg-info{
        background-color: #fa4e06!important;
    }
    .icon-forget{
        text-align: center;
        padding: 50px 0px;
    }
    .icon-forget img{
        width: 100px;
    }
    .lupa-email{
        color: rgba(0, 0, 0, 0.6);
        padding: 30px 0px;
        text-align: center;
    }
    .login-bottom {
        margin-top: 40px;
    }
    .alerting{
        padding: 5px 0px;
        font-size: 12px;
        color: #de1000;
    }
    @media (max-width: 480px) and (min-width: 320px){
        .title-menu-back {
            text-align: left;
            margin-left: 7%;
        }
    }
</style>


