<template>
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <div class="percen-back-1 top-left" @click="back">
                <mu-ripple class="icon-back" color="#fff" :opacity="0.3" @click="back">
                    <i class="material-icons">keyboard_backspace</i>
                </mu-ripple>
            </div>
            <div class="percen-back-2 top-right">
                <div class="title-menu-back">
                    Photo Profile
                </div>
            </div> 
        </b-navbar>
        <div class="edit-profile">
            <div v-if="loadingUpload">
                <beat-loader :color="color" :size="size"></beat-loader>
            </div>
            <div class="part-form">
                <mu-container>
                    <div class="ukuran-gede">{{notif}}</div>   
                    <form @submit="formSubmit" enctype="multipart/form-data">
                        <input type="file" class="form-control" v-on:change="onImageChange" accept="image/*">
                        <div class="button-input">
                            <button class="btn btn-danger btn-block">Submit</button>
                        </div>
                    </form>
                </mu-container>
            </div>
        </div>
    </div>
</template>
<script>
import {HTTP} from '@/url/http-common.js'
import BeatLoader from 'vue-spinner/src/BeatLoader.vue'
export default {
    data () {
        return{
            image: '',
            success: '',
            input: [],
            ukuran:[],
            notif:'',
            loadingUpload: false,
            size: '8px',
            color: '#FD5051'
        }
    },
    components:{
        BeatLoader
    },
    methods: {
        back () {
            this.$router.push({ name: "edit-profile" })
        },
        onImageChange(e){
                this.image = e.target.files[0]
                this.ukuran = e.target.files[0].size
        },
        formSubmit(e) {
        
            if(this.ukuran > 1057153){
                this.notif = 'Maksimal ukuran file tidak boleh melebihi 1 MB'
            }else{
                this.loadingUpload = true
                e.preventDefault();
                let currentObj = this;
    
                const config = {
                    headers:{
                        'content-type': 'multipart/form-data',
                        Authorization:'Bearer '+this.$cookie.get('token_ebp')
                    }
                }
                let formData = new FormData();
                formData.append('image', this.image);
                    
                HTTP.post('photouser',formData, config)
                .then(response => {
                    this.input = response.data.succes
                    if (this.input == false){
                        this.loadingUpload = false 
                        this.notif = 'Upload gagal'
                    }else{
                        this.loadingUpload = false
                        this.$router.push({ name: "edit-profile" })
                    }
                })
                .catch(error => {
                    if (error.response) {
                        this.message ="Upload gagal!"
                    }
                })
            }
            
        }
    }
}
</script>
<style scoped>
.edit-profile{
    padding-top: 90px;
}
.ukuran-gede{
    text-align: left;
    font-size: 12px;
    color: #de1000;
    padding-bottom: 10px;
}
.button-input{
    padding-top: 30px;
}
.bg-info{
    background-color: #fa4e06!important;
}
.btn-danger{
    background-color: #fa4e06!important;
}
</style>

