<template>
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <div class="percen-back-1 top-left" @click="back">
                <mu-ripple class="icon-back" color="#fff" :opacity="0.3" @click="back">
                    <i class="material-icons">keyboard_backspace</i>
                </mu-ripple>
            </div>
            <div class="percen-back-2 top-right">
                <div class="title-menu-back">
                    Edit Profile
                </div>
            </div> 
        </b-navbar>

        <div class="loadit" v-if="loadingedit">
            <clip-loader :color="color" :size="size"></clip-loader>
        </div>
        <div class="edit-profile" v-else>
            <div class="photo-profile default" v-if="this.edit.image == null">
                <img :src="user">
                <div class="img-edit" @click='open()'>
                    <img :src="iconedit">
                </div>
            </div>
            <div class="photo-profile" v-else>
                <img :src="this.edit.image">
                <div class="img-edit" @click='open()'>
                    <img :src="iconedit">
                </div>
            </div>
            <div class="alerting">{{pesan}}</div>
            <div class="det-profile">
                <div class="grouping">
                    <div class="prof-name">
                        Nama
                    </div>
                    <div class="name-edit">
                        <input type="text" class="form-edit" v-model="edit.nama">
                    </div>
                </div>
                <div class="grouping">
                    <div class="prof-name">
                        Email
                    </div>
                    <div class="name-edit">
                        <input type="text" class="form-edit" v-model="edit.email">
                    </div>
                </div>
                <div class="grouping">
                    <div class="prof-name">
                        No Handphone
                    </div>
                    <div class="name-edit">
                        <input type="text" class="form-edit" v-model="edit.no_handphone">
                    </div>
                </div>
                <div class="grouping">
                    <div class="prof-name">
                        Password
                    </div>
                    <div class="name-edit">
                        <input type="password" class="form-edit" v-model="edit.password" placeholder="Password">
                    </div>
                </div>
                <div class="grouping">
                    <div class="prof-name">
                        Ketik Ulang Password
                    </div>
                    <div class="name-edit">
                        <input type="password" class="form-edit" v-model="edit.password_conf" placeholder="Password">
                    </div>
                </div>
                
                <div class="grouping-bt">
                    <mu-button full-width color="#fa4e06" @click="save">Edit</mu-button>
                </div>
            </div>
        </div>


        


    </div>
</template>
<script>
import {HTTP} from '@/url/http-common.js'
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
import iconedit from '@/assets/icon/editingg.svg'
import {auth} from '@/mixin/auth.js'
import user from '@/assets/icon/user.svg'
export default {
    mixins: [auth],
    data () {
        return {
            errors:[],
            edit: [],
            loadingedit: false,
            size: '50px',
            color: '#FD5051',
            profil: [],
            loadingsave: false,
            editing: [],
            iconedit: iconedit,
            user:user,
            pesan:''
        }
    },
    components: {
        ClipLoader
    },
    created () {
        this.loadingedit = true
        HTTP.get('profile',{
            headers:{
                Authorization:'Bearer '+this.$cookie.get('token_ebp')
            }
        })
            .then(response => {
            this.edit = response.data
            this.loadingedit = false
        })
        .catch(e => {
            this.errors.push(e)
        })
    },
    methods: {
        back () { 
           this.$router.push({ name: "profile" })
        },
        save () {
            if (this.edit.password === this.edit.password_conf){
                this.loadingedit = true
                HTTP.post('update_edit',{
                    nama : this.edit.nama,
                    email : this.edit.email,
                    no_handphone : this.edit.no_handphone,
                    password : this.edit.password
                },
                {
                    headers:{
                        Authorization:'Bearer '+this.$cookie.get('token_ebp')
                    }
                })
                .then(response => {
                    this.editing = response.data
                    this.loadingedit = false
                    this.pesan = 'Edit data berhasil'
                })
                .catch(e => {
                    this.errors.push(e)
                })
            }else {
                this.pesan = 'Password dan konfirmasi password tidak sama'
            }
        },
        open () {
            this.$router.push({ name: "photo-upload" })
        }
    }
}
</script>
<style scoped>
.alerting{
    padding: 12px 0px;
    font-weight: 500;
    font-size: 18px;
    color: #de1000;
    text-align: center;
}
.loadit{
    padding-top: 80px;
}
.det-profile{
    text-align: left;
    padding: 25px 15px;
}

input:focus {
    outline: none;
}
input.middle:focus {
    outline-width: 0;
}
.grouping {
    padding-top: 15px;
}
.grouping-bt{
    padding-top: 40px;
}
.default{
    padding-top: 90px;
}
.default img{
    height: 170px;
}
.default .img-edit{
    bottom: -50px!important;
}
.bg-info{
    background-color: #fa4e06!important;
}
</style>



