<template>
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
        <menu-regular :title="title"></menu-regular>
        <div class="profile">
            <div class="profile-area" v-if="loadingProfile">
                <div class="loading-profile">
                    <clip-loader :color="color" :size="size"></clip-loader>
                </div>
            </div>
            <div class="profile-area" v-else>
                <div class="edit-profile"><router-link to="/edit-profile">Edit</router-link></div>
                <div class="row">
                    <div class="col-4" v-if="this.profile.image == null">
                        <div class="img-profile">
                            <img :src="user">
                        </div>
                    </div>
                    <div class="col-4" v-else>
                        <div class="img-profile">
                            <img :src="this.profile.image">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="data-profile">
                            <h1>{{this.profile.nama}}</h1>
                            <div class="email-profile">{{this.profile.email}}</div>
                            <div class="profile-telp">{{this.profile.no_handphone}}</div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="logout">
                <a href="" class="to-logout" @click="logout">
                    Logout
                </a>
            </div>
        </div>
    </div>
</template>
<script>
import MenuRegular from '@/components/MenuRegular'
import profile from '@/assets/img/velove.jpg'
import leaderboard from '@/assets/icon/leaderboard.png'
import statistic from '@/assets/icon/statistic.png'
import user from '@/assets/icon/user.svg'
import terms from '@/assets/icon/terms.png'
import {auth} from '@/mixin/auth.js'
import {HTTP} from '@/url/http-common.js'
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
import BeatLoader from 'vue-spinner/src/BeatLoader.vue'
export default {
    mixins: [auth],
    data () {
        return{
            title: 'Profile',
            profile: profile,
            user:user,
            leaderboard: leaderboard,
            statistic: statistic,
            terms: terms,
            errors: [],
            profile:[],
            size: '50px',
            color: '#FD5051',
            sizes: '8px',
            colors: '#6c757d',
            loadingProfile: false,
            rank:[],
            hitung:[],
            peringkat: [],
        
        }
    },
    components: {
        MenuRegular, ClipLoader, BeatLoader
    },
    created () {
        this.loadingProfile = true
        HTTP.get('profile',{
            headers:{
                Authorization:'Bearer '+this.$cookie.get('token_ebp')
            }
        })
            .then(response => {
            this.profile = response.data
            this.pointUser()
            this.rengking()
            this.loadingProfile = false
            
        })
        .catch(e => {
            this.errors.push(e)
        })
    },
    methods:{
        logout () {
            this.$cookie.delete('token_ebp')
            this.$router.push("/home")
        },
        pointUser () {
            HTTP.get('userpoint',{
                headers:{
                    Authorization:'Bearer '+this.$cookie.get('token_ebp')
                }
            })
                .then(response => {
                this.rank = response.data[0]
                this.hitung = response.data
            })
            .catch(e => {
                this.errors.push(e)
            })
        },
        rengking () {
             HTTP.get('peringkat',{
                headers:{
                    Authorization:'Bearer '+this.$cookie.get('token_ebp')
                }
            })
                .then(response => {
                this.peringkat = response.data
                
            })
            .catch(e => {
                this.errors.push(e)
            })
        }
    }
}
</script>
<style scoped>
    .loading-profile {
        padding: 40px 10px;
    }
</style>


