<template>
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <div class="percen-back-1 top-left" @click="back">
                <mu-ripple class="icon-back" color="#fff" :opacity="0.3" @click="back">
                    <i class="material-icons">keyboard_backspace</i>
                </mu-ripple>
            </div>
            <div class="percen-back-2 top-right">
                <div class="title-menu-back">
                    Promotion
                </div>
            </div> 
        </b-navbar>
        <div class="loader" v-if="loadingDetail">
            <clip-loader :color="color" :size="size"></clip-loader>
        </div>
        <div class="detail-rewards" v-else>
            
            <div class="detail-rewards-img">
                <img :src="this.post.gambar">
            </div>
            <div class="detail-rewards-promo">
                <mu-container>
                    <h1 class="tittle-promo-detail" >{{this.post.tittle_promo}}</h1>
                </mu-container>
            </div>
            <div class="tabs-detail">
                <div class="ketentuan-header">
                    <h1>Ketentuan</h1>
                </div>
                <div class="your-voucher" >
                    <mu-container>
                        <div class="detail-tabs-body">
                            <div v-html="this.post.ketentuan"></div>
                        </div>
                    </mu-container>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import MenuBack from '@/components/MenuBack'
import {auth} from '@/mixin/auth.js'
import {HTTP} from '@/url/http-common.js'
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
export default {
    mixins: [auth],
    data () {
        return {
            title: 'Promotion',
            post: [],
            active2: 0,
            size: '50px',
            color: '#FD5051',
            loadingDetail: false
        }
    },
    components: {
        MenuBack, ClipLoader
    },
    created () {
        this.loadingDetail = true
        var id_promo= this.$route.params.id_promo
        HTTP.get('promo_detail/'+id_promo,{
            headers:{
                Authorization:'Bearer '+localStorage.getItem('token') 
            }
        })
            .then(response => {
            this.post = response.data
            this.loadingDetail = false
        })
        .catch(e => {
            this.errors.push(e)
        })
    },
    methods: {
        back () { 
           this.$router.push({ name: "hot-promo" })
        }
    }
}
</script>
<style scoped>
.loader{
    padding-top: 80px;
}
.bg-info{
    background-color: #fd5051!important;
}
</style>

