<template>
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <div class="percen-back-1 top-left" @click="back">
                <mu-ripple class="icon-back" color="#fff" :opacity="0.3" @click="back">
                    <i class="material-icons">keyboard_backspace</i>
                </mu-ripple>
            </div>
            <div class="percen-back-2 top-right">
                <div class="title-menu-back">
                    Masukan Kode Receipt
                </div>
            </div> 
        </b-navbar>
        <div class="receipt">
            <div class="loader" v-if="loadingreceipt">
                <clip-loader :color="color" :size="size"></clip-loader>
            </div>
            <p>Kode tertera di bagian ‘Bawah Receipt’</p>
            <div class="contoh">
                <a href="#" v-b-toggle.collapse-1>Contoh (klik disini)</a>
            </div>
            <b-collapse id="collapse-1" class="mt-2">
                <div class="img-example">
                    <img :src="contoh">
                </div>
            </b-collapse>
            <div class="form-receipt">
                <mu-container>
                    <input type="text" class="form-control frm-rcpt" placeholder="Masukan 17 Digit Kode TR" v-model="receipt">
                    <div class="tombol-receipt">
                        <mu-button full-width large color="red" @click="save">Tukar Points</mu-button>
                    </div>
                    <div class="text-receipt">
                        * Masukan kode khusus di receipt Transmart anda untuk mendapatkan banyak potongan dan rewards points
                    </div>
                </mu-container>
            </div>
        </div>

        <!-- modal teu cukup -->
        <b-modal ref="modal-teucukup" hide-footer hide-header centered>
            <div class="d-block ">
                <div class="modal-tanya">
                    {{this.input.message}}
                </div>
            </div>
            <div class="tutup-modal">
                <b-button class="close-modal" @click="hideModal2">Tutup</b-button>
            </div>
        </b-modal>

        <!-- modal berhasil -->
        <b-modal ref="modal-succes" hide-footer hide-header centered>
            <div class="d-block text-center">
                <div class="popup-berhasil">
                    <img :src="succes">
                </div>
                <p class="text-popoup">Terimakasih telah berbelanja di Transmart, nominal pembelanjaan anda akan otomatis kami konversi menjadi point, yang bisa anda gunakan untuk ditukarkan dengan rewards</p>
            </div>
            <div class="tutup-modal">
                <b-button class="close-modal" @click="hideModal3">Tutup</b-button>
            </div>
        </b-modal>

        <!-- modal kosong -->
        <b-modal ref="modal-kosong" hide-footer hide-header centered>
            <div class="d-block ">
                <div class="modal-tanya">
                    harap isi kode terlebih dahulu
                </div>
            </div>
            <div class="tutup-modal">
                <b-button class="close-modal" @click="hideModal4">Tutup</b-button>
            </div>
        </b-modal>


    </div>
</template>
<script>
import {auth} from '@/mixin/auth.js'
import {HTTP} from '@/url/http-common.js'
import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
import succes from '@/assets/icon/succes-icon.png'
import contoh from '@/assets/icon/exemple.jpg'
export default {
    mixins: [auth],
    data () {
        return {
            succes : succes, 
            contoh: contoh,
            receipt: "",
            errors: [],
            input: [],
            loadingreceipt: false,
            size: '50px',
            color: '#FD5051'
        }
    },
    components:{
        ClipLoader
    },
    methods: {
        back () {
            this.$router.push({ name: "home" })
        },
        save () {
            if(this.receipt === ''){
                this.$refs['modal-kosong'].show()
            }else{
                this.loadingreceipt = true
                HTTP.post('receipt_save',{
                    no_receipt : this.receipt
                },
                {
                    headers:{
                        Authorization:'Bearer '+localStorage.getItem('token') 
                    }
                })
                .then(response => {
                    this.input = response.data
                    this.loadingreceipt = false
                    if(this.input.status === false){
                        this.$refs['modal-teucukup'].show()
                    }else{
                        this.$refs['modal-succes'].show()
                    }
                })
                .catch(e => {
                    this.errors.push(e)
                })
            }
            
        },
        hideModal2() {
            this.$refs['modal-teucukup'].hide()
        },
        hideModal3() {
            this.$refs['modal-succes'].hide()
            this.$router.push("/bukti-transaksi")
        },
        hideModal4() {
            this.$refs['modal-kosong'].hide()
        },
    }
}
</script>
<style scoped>
.title-menu-back {
    text-align: left;
    margin-left: 0%;
}
.frm-rcpt{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgba(76, 76, 76, 0.5);
    border-radius: 0px;
    color: rgba(76, 76, 76, 0.5);
    margin-top: 30px;
}
.tombol-receipt{
    padding-top: 40px;
}
.text-receipt{
    padding-top: 30px;
    color: #9B9B9B;
    font-size: 12px;
}
button.btn.close-modal.btn-secondary {
    text-align: center;
    background-color: #fff;
    color: #FD5051;
    border: none;
    font-weight: 800;
}
.detail-tabs-body{
    color: #6c757d;
}
.bg-info{
    background-color: #fd5051!important;
}
.contoh a{
    color: #ff4081;
}
.contoh a:hover{
    color: #ff4081;
    text-decoration: none;
}
.img-example{
    padding: 0px 20px;
}
.img-example img{
    width: 100%;
}
</style>

