<template>
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
        <menu-regular :title="title"></menu-regular>
        <mu-tabs :value.sync="active2"  indicator-color="#fa4e06" full-width class="rewards-tab">
            <mu-tab>Promoku</mu-tab>
            <mu-tab>Riwayat</mu-tab>
        </mu-tabs>
        <div class="list-voucher" v-if="active2 === 0">
            <mu-container>
                <list-voucher></list-voucher>
            </mu-container>
        </div>
        <div class="your-voucher" v-if="active2 === 1">
            <mu-container>
                <voucher-saya></voucher-saya>
            </mu-container>
        </div>
    </div>
</template>
<script>
import MenuRegular from '@/components/MenuRegular'
import ListVoucher from '@/pages/ListVoucher'
import VoucherSaya from '@/pages/VoucherSaya'
import points from '@/assets/icon/points.png'
import cupon from '@/assets/icon/cupon.png'
import {auth} from '@/mixin/auth.js'
import {HTTP} from '@/url/http-common.js'
import BeatLoader from 'vue-spinner/src/BeatLoader.vue'
export default {
    mixins: [auth],
    data () {
        return {
            title: 'Update',
            points: points,
            cupon: cupon,
            active2: 0,
            point:[],
            hitung: [],
            loadingPoint: false,
            size: '8px',
            color: '#6c757d',
        }
    },
    components: {
        MenuRegular, ListVoucher, VoucherSaya, BeatLoader
    },
    created () {
        // this.loadingPoint = true
        // HTTP.get('userpoint',{
        //     headers:{
        //         Authorization:'Bearer '+localStorage.getItem('token') 
        //     }
        // })
        //     .then(response => {
        //     this.point = response.data
        //     this.hitung = response.data.length
        //     this.loadingPoint = false
        // })
        // .catch(e => {
        //     this.errors.push(e)
        // })
    }
}
</script>
<style scoped>
.rewards-tab {
    background-color: #fff!important;
    color: #6c757d!important;
    z-index: 99!important;
    padding-top: 60px;
}
.mu-tab-active {
    color:#fa4e06;
}
.text-rewards .v-spinner{
    padding-top: 5px;
}
</style>


