<template>
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <div class="percen-back-1 top-left" @click="back">
                <mu-ripple class="icon-back" color="#fff" :opacity="0.3" @click="back">
                    <i class="material-icons">keyboard_backspace</i>
                </mu-ripple>
            </div>
            <div class="percen-back-2 top-right">
                <div class="title-menu-back">
                    Daftar
                </div>
            </div> 
        </b-navbar>
        <div class="signup-page">
            <div class="tittle-signup">
                <h1>Daftar Akun</h1>
            </div>

            <!-- <div class="part-bottom-login">
                <div class="sosmed-login">
                    <mu-container>
                        <div class="row">
                            <div class="col-6">
                                <div class="login-by">
                                    <img :src="icon2">
                                    <span class="login-name">Google</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="login-by">
                                    <img :src="icon1">
                                    <span class="login-name">Facebook</span>
                                </div>
                            </div>
                            <div class="col-6 offset-3 ic-3">
                                <div class="login-by">
                                    <img :src="icon3">
                                    <span class="login-name">Twitter</span>
                                </div>
                            </div>
                        </div>
                    </mu-container>
                </div>
            </div> -->

            <div class="form-sign">
                <mu-container>
                    <div class="load-sign" v-if="loadingsign">
                        <scale-loader :color="color" :size="size"></scale-loader>
                        <p>Loading...</p>
                    </div>
                    <div v-if="signUp.status === true">
                        <mu-alert color="success" @delete="alert1 = false" delete v-if="alert1" transition="mu-scale-transition" >
                            <mu-icon left value="check_circle"></mu-icon> {{signUp.message}}.
                        </mu-alert>
                    </div>
                    <div v-else>
                        <mu-alert color="error" @delete="alert1 = false" delete v-if="alert1" transition="mu-scale-transition" >
                            <mu-icon left value="check_circle"></mu-icon> {{signUp.message}}.
                        </mu-alert>
                    </div>

                    <div class="grouping-sign">
                        <div class="sign-label">
                            Nama Lengkap
                        </div>
                        <div class="name-edit">
                            <input type="text" class="form-edit" v-model="input.nama">
                            <div class="alerting">{{error.nama}}</div>
                        </div>
                    </div>
                    <div class="grouping-sign">
                        <div class="sign-label">
                            E-MAIL
                        </div>
                        <div class="name-edit ">
                            <input type="email" class="form-edit" v-model="input.email">
                            <div class="alerting">{{error.email}}</div>
                        </div>
                    </div>
                    <div class="grouping-sign">
                        <div class="sign-label">
                            No Handphone
                        </div>
                        <div class="name-edit">
                            <input type="text" class="form-edit" v-model="input.no_handphone">
                            <div class="alerting">{{error.no_handphone}}</div>
                        </div>
                    </div>
                    <div class="grouping-sign">
                        <div class="sign-label">
                            Nama Perusahaan
                        </div>
                        <div class="name-edit">
                            <div v-if="loadingLocation">
                                <select class="form-control fr-loc" >
                                    <option>Loading...</option>
                                </select>
                            </div>
                            <div v-else>
                                <select class="form-edit form-control list-reg" v-model="input.id_perusahaan">
                                    <option disabled>Pilih Perusahaan</option>
                                    <option v-for="data of perusahaan" :key="data.id_store" :value="data.id_store">{{data.name_store}}</option>
                                </select>
                            </div>
                            <div class="alerting">{{error.id_perusahaan}}</div>
                        </div>

                    </div>
                    <div class="grouping-sign">
                        <div class="sign-label">
                            Password
                        </div>
                        <div class="name-edit">
                            <input type="password" class="form-edit" v-model="input.password">
                            <div class="alerting">{{error.password}}</div>
                        </div>
                    </div>
                    <div class="grouping-sign">
                        <div class="sign-label">
                            Ketik Ulang Password
                        </div>
                        <div class="name-edit">
                            <input type="password" class="form-edit" v-model="input.password_conf">
                            <div class="alerting">{{error.password_conf}}</div>
                        </div>
                    </div>

                    <div class="row ceklist-sign">
                        <div class="col-1">
                            <mu-checkbox v-model="checkbox"></mu-checkbox>
                        </div>
                        <div class="col-10">
                            Dengan mendaftar, Anda telah menyetujui aturan penggunaan dan kebijakan privasi Employee Benefit Programm
                            <div class="alerting">{{pesan}} </div>
                        </div>
                    </div>
                  

                </mu-container>
                
                
                <div class="login-bottom">
                    <mu-button round large full-width color="#fa4e06" class="login" @click="daftar">
                        <span >Daftar</span>
                    </mu-button>
                </div>
            </div>



        </div>
    </div>
</template>
<script>
import icon1 from '@/assets/icon/login-1.svg'
import icon2 from '@/assets/icon/login-2.svg'
import icon3 from '@/assets/icon/login-3.svg'
import {HTTP} from '@/url/http-common.js'
import { ScaleLoader } from 'vue-spinner/dist/vue-spinner.min.js'
export default {
    data () {
        return{
            icon1: icon1,
            icon2: icon2,
            icon3: icon3,
            checkbox: false,
            input: {
                nama:null,
                email:null,
                no_handphone:null,
                id_perusahaan:null,
                password:null,
                password_conf:null
            },
            pesan:'',
            error: {
                nama:null,
                email:null,
                no_handphone:null,
                id_perusahaan:null,
                password:null,
                password_conf:null
            },
            errors:[],
            signUp:[],
            loadingsign: false,
            alert1:false,
            size: '50px',
            color: '#FD5051',
            erroremail:null,
            perusahaan:[],
            key:null,
            loadingLocation: false
        }
        
    },
    components:{
        ScaleLoader
    },
    mounted() {
        this.loadingLocation = true
        HTTP.get(`reg_store`)
        .then(response => {
            this.perusahaan = response.data
            this.loadingLocation = false
        })
        .catch(error => {
            if (errors.response) {
               console.log('failed perusahaan load')
            }
        })
    },
    methods: {
        daftar () {
            var reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
            this.validasi()
            if (!reg.test(this.input.email)){
                this.error.email = 'Email tidak valid'
            }else if(this.input.password != this.input.password_conf){
                this.pesan = 'Password dan Konfirmasi Password tidak cocok'
            }else if(this.checkbox == false){
                this.pesan = 'Setujui jika anda ingin melanjutkan'
            }else{
                //this.loadingsign = true
                //console.log(this.input.id_perusahaan)
                HTTP.post(`register`,{
                    nama : this.input.nama,
                    email : this.input.email,
                    no_handphone : this.input.no_handphone,
                    id_perusahaan : this.input.id_perusahaan,
                    password: this.input.password
                })
                .then(response => {
                    this.signUp = response.data
                    this.loadingsign = false
                    this.alert1 = true
                    //setTimeout(function(){ location.reload(); }, 3000);
                    setTimeout( () => this.$router.push({ path: '/login'}), 4000);
                    
                })
                .catch(error => {
                    if (errors.response) {
                        this.pesan ="Pendaftaran Gagal"
                    }
                })
            }

      
        },
        back () {
            this.$router.push({ name: "login" })
        },
        validasi(){
            var reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/

            if (this.input.nama == null) {
                this.error.nama = 'Nama tidak boleh dikosongkan'
            }
            if (this.input.email == null) {
                this.error.email = 'Email tidak boleh dikosongkan'
            }
            if (this.input.no_handphone == null) {
                this.error.no_handphone = 'No Handphone tidak boleh dikosongkan'
            }
            if (this.input.id_perusahaan == null) {
                this.error.id_perusahaan = 'Perusahaan tidak boleh dikosongkan'
            }
            if (this.input.password == null) {
                this.error.password = 'Password tidak boleh dikosongkan'
            }
            if (this.input.password_conf == null) {
                this.error.password_conf = 'Konfirmasi Password tidak boleh dikosongkan'
            }
            
        }

    }
}
</script>
<style scoped>
    .login-bottom {
        margin-top: 30px;
        padding: 0px 20px;
    }
    .part-bottom-login{
        padding: 0px 20px;
        margin-top: 30px;
    }
    .login-by img{
        height: 30px;
        padding-right: 10px;
    }
    .login-by {
        border: 1px solid #979797;
        border-radius: 24px;
        padding: 10px 15px;
    }
    .ic-3{
        margin-top: 20px;
    }
    .ceklist-sign{
        padding-top: 30px;
    }
    .alerting{
        padding: 5px 0px;
        font-size: 12px;
        color: #de1000;
    }
    .load-sign {
        text-align: center;
        color: #FD5051;
    }
    .bg-info{
        background-color: #fa4e06!important;
    }
    .list-reg{
        margin-top: 10px;
    }
</style>


