<template>
    <div class="home" style="width: 100%; max-width: 441px; margin: 0 auto;">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <div class="percen-back-1 top-left" @click="back">
                <mu-ripple class="icon-back" color="#fff" :opacity="0.3" @click="back">
                    <i class="material-icons">keyboard_backspace</i>
                </mu-ripple>
            </div>
            <div class="percen-back-2 top-right">
                <div class="title-menu-back">
                    Terms of Service
                </div>
            </div> 
        </b-navbar>
    </div>
</template>
<script>
import {auth} from '@/mixin/auth.js'
export default {
    mixins: [auth],
    data () {
        return {

        }
    },
    methods:{
        back () {
            this.$router.push({ name: "profile" })
        }
    }
}
</script>
<style scoped>

</style>


