<template>
    <div class="voucher-saya">
        <div v-if="loading">
            <loading-voucherku></loading-voucherku>
        </div>
        <div v-else>
            <div v-if="this.hitung === 0">
                <div class="data-kosong">
                    <img :src="kosong">
                    <p>Data tidak ditemukan</p>
                </div>
            </div>
            <div>
                <mu-card style="width: 100%; max-width: 375px; margin: 0 auto;" class="voucher-card" v-for="item of vouchersMe" :key="item.id">
                    <mu-card-media class="card-voucher">
                        <img :src="item.voucher.image_voucher">
                    </mu-card-media>
                    <div class="voucher-content">
                        <div class="tittle-voucher">
                            {{item.voucher.nama_voucher}}
                        </div>
                    </div>
                </mu-card>
            </div>
        </div>
    </div>
</template>
<script>
import {auth} from '@/mixin/auth.js'
import {HTTP} from '@/url/http-common.js'
import kosong from '@/assets/icon/paper.svg'
import LoadingVoucherku from '@/components/LoadingVoucherku'
export default {
    mixins: [auth],
    data () {
        return{
            vouchersMe:[],
            errors:[],
            loading: false,
            kosong: kosong,
            hitung:[]
        }
    },
    components: {
        LoadingVoucherku
    },
    created () {
        this.loading = true
        HTTP.get('history_promoku',{
            headers:{
                Authorization:'Bearer '+this.$cookie.get('token_ebp') 
            }
        })
            .then(response => {
            this.vouchersMe = response.data.data
            this.hitung = response.data.data.length
            this.loading = false
        })
        .catch(e => {
            this.errors.push(e)
        })
    }
}
</script>
