<template>
  <div class="hello">
  </div>
</template>

<script>
import girl from '@/assets/img/girl.jpg'
export default {
  name: 'hello',
  data () {
    return {
      girl:girl
    }
  }
}
</script>

<style scoped>

</style>
