<template>
    <mu-card class="card-promo"> 
        <mu-card-media>
            <img src="">
        </mu-card-media>
        <div class="body-card">
            <div class="row">
                <div class="col-6">
                    <span><img :src="timeRemaining"></span> Berlaku Hingga
                </div>
                <div class="col-6">
                    <div class="time-card">
                        20 Maret 2019
                    </div>
                </div>
            </div>
        </div>
    </mu-card>
</template>
<script>
import timeRemaining from '@/assets/icon/time-remaining.png'
export default {
    data () {
        return {
            timeRemaining: timeRemaining
        }
    }
}
</script>

