<template>
<div>
    <mu-card style="width: 100%; max-width: 375px; margin: 0 auto;" class="voucher-card">
        <content-loader
            :height="250"
            :width="375"
            :speed="2"
            primaryColor="#f3f3f3"
            secondaryColor="#ecebeb"
	    >
            <rect x="8.89" y="11.67" rx="0" ry="0" width="359.52" height="138.32" /> 
            <rect x="7.89" y="158.67" rx="0" ry="0" width="276" height="23" /> 
            <rect x="8.89" y="201.67" rx="0" ry="0" width="108.8" height="32" /> 
            <rect x="230.89" y="198.67" rx="0" ry="0" width="135.96" height="32" />
	    </content-loader>
    </mu-card>
    <mu-card style="width: 100%; max-width: 375px; margin: 0 auto;" class="voucher-card">
        <content-loader
            :height="250"
            :width="375"
            :speed="2"
            primaryColor="#f3f3f3"
            secondaryColor="#ecebeb"
	    >
            <rect x="8.89" y="11.67" rx="0" ry="0" width="359.52" height="138.32" /> 
            <rect x="7.89" y="158.67" rx="0" ry="0" width="276" height="23" /> 
            <rect x="8.89" y="201.67" rx="0" ry="0" width="108.8" height="32" /> 
            <rect x="230.89" y="198.67" rx="0" ry="0" width="135.96" height="32" />
	    </content-loader>
    </mu-card>
    <mu-card style="width: 100%; max-width: 375px; margin: 0 auto;" class="voucher-card">
        <content-loader
            :height="250"
            :width="375"
            :speed="2"
            primaryColor="#f3f3f3"
            secondaryColor="#ecebeb"
	    >
            <rect x="8.89" y="11.67" rx="0" ry="0" width="359.52" height="138.32" /> 
            <rect x="7.89" y="158.67" rx="0" ry="0" width="276" height="23" /> 
            <rect x="8.89" y="201.67" rx="0" ry="0" width="108.8" height="32" /> 
            <rect x="230.89" y="198.67" rx="0" ry="0" width="135.96" height="32" />
	    </content-loader>
    </mu-card>
</div>
</template>
<script>
import { ContentLoader } from 'vue-content-loader'
export default {
    components: { 
        ContentLoader 
    }
}
</script>
