<template>
    <clip-loader :color="color" :size="size"></clip-loader>
</template>
<script>

import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
export default {
    data () {
        return {
            size: '50px',
            color: '#FD5051'
        }
    },
    components: {
        ClipLoader
    }
}
</script>
<style>

</style>


