<template>
    <b-navbar toggleable="lg" type="dark" class="menu-feed">
        <div class="menu-putih">
            <img :src="logoMerah">
            <!-- <div class="pointonmenu" v-if="this.hitung === 0">You have <span>{{poin}}</span> reward points</div>
            <div class="pointonmenu" v-else>You have <span>{{poin}}</span> reward points</div> -->
        </div>
    </b-navbar>
</template>
<script>
import logoMerah from '@/assets/img/logo-merah.png'
import logoPutih from '@/assets/img/logo-putih.svg'
export default {
    data () {
        return {
            logoMerah: logoPutih,
            poin: [],
            hitung: 0,
            nilai:null
        }
    },
    created () {

    }
}
</script>
<style scoped>
.menu-feed {
    background-color: #fa4e06;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 100;
    right: 0;
    left: 0;
    top: -1px;
}
</style>




