<template>
    <b-navbar toggleable="lg" type="dark" variant="info">
            <div class="title-menu-regular">
                {{this.title}}
            </div> 
    </b-navbar>
</template>
<script>
export default {
    props: ['titles', 'title'],
    data () {
        return {

        }
    },
    created () {
        this.titles = this.titles
    }
}
</script>
<style scoped>
.bg-info {
    background-color: #fa4e06 !important;
}
</style>


