<template>
    <div tabindex="0" class="nav-bottom index mu-bottom-nav" >
      <div class="mu-bottom-nav-shift-wrapper">
        <router-link to="/home" class="mu-bottom-item" tabindex="0">
          <div class="mu-bottom-item-wrapper">
            <mu-ripple class="mu-ripple-wrapper" color="#fc5051" :opacity="0.3">
              <span class="material-icons">
                home
              </span>
            </mu-ripple>
          </div>
        </router-link>
        <router-link to="/negara" class="mu-bottom-item mu-bottom-item-active " tabindex="0">
          <div class="mu-bottom-item-wrapper">
            <mu-ripple class="mu-ripple-wrapper" color="#fa4e06" :opacity="0.3">
              <span class="material-icons">
                language
              </span>
            </mu-ripple>
          </div>
        </router-link>
        <router-link to="/cari" class="mu-bottom-item" tabindex="0">
          <div class="mu-bottom-item-wrapper">
            <mu-ripple class="mu-ripple-wrapper" color="#fc5051" :opacity="0.3">
              <span class="material-icons">
                search
              </span>
            </mu-ripple>
          </div>
        </router-link>
        <router-link to="/berita" class="mu-bottom-item" tabindex="0">
          <div class="mu-bottom-item-wrapper">
            <mu-ripple class="mu-ripple-wrapper" color="#fc5051" :opacity="0.3">
              <span class="material-icons">
                description
              </span>
            </mu-ripple>
          </div>
        </router-link>
      </div>
    </div>
</template>
<script>
import homei from '@/assets/icon/homei.svg'
import share from '@/assets/icon/share.svg'
import reward from '@/assets/icon/reward.svg'
import rewward from '@/assets/icon/rewward.svg'
import profile from '@/assets/icon/profile.svg'
export default {
    data () {
        return {
            homei: homei,
            share: share,
            reward: reward,
            profile: profile,
            rewward: rewward
        }
    }
}
</script>
<style scoped>
.material-icons{
    color: #de1000;
    padding-top: 11px;
    font-size: 35px;
}
</style>


