<template>
    <b-navbar toggleable="lg" type="dark" variant="info">
        <div class="percen-back-1 top-left" @click="back">
            <mu-ripple class="icon-back" color="#fff" :opacity="0.3" @click="back">
                <i class="material-icons">keyboard_backspace</i>
            </mu-ripple>
        </div>
        <div class="percen-back-2 top-right">
            <div class="title-menu-back">
                {{this.title}}
            </div>
        </div> 
    </b-navbar>
</template>
<script>
export default {
    props: ['titles', 'title'],
    data () {
        return {

        }
    },
    created () {
        this.titles = this.titles
    },
    methods: {
        back () { 
            window.history.back() 
        }
    }
}
</script>
<style scoped>
.bg-info {
    background-color: #FD5051 !important;
}
</style>


