<template>
    <b-navbar toggleable="lg" type="dark" variant="info">
        <div class="percen-50 top-left">
            <b-navbar-brand><img :src="logoPutih"></b-navbar-brand>
        </div>
     
    </b-navbar>
</template>
<script>
import logoPutih from '@/assets/img/logo-putih.svg'
import notification from '@/assets/icon/notification.png'
export default {
    data () {
        return {
            logoPutih: logoPutih,
            notification: notification
        }
    }
}
</script>
<style scoped>
.bg-info {
    background-color: #de1000 !important;
}
</style>


