<template>
    <b-modal ref="modal-succes" hide-footer hide-header centered>
        <div class="d-block text-center">
            <div class="popup-berhasil">
                <img :src="succes">
            </div>
            <p class="text-popoup">Redeem Telah Berhasil</p>
        </div>
        <div class="tutup-modal">
            <b-button class="close-modal" @click="hideModal">Tutup</b-button>
        </div>
    </b-modal>
</template>
<script>
export default {
    data () {
        return {

        }
    },
    methods: {
        tukar () {
            this.$refs['modal-succes'].show()
        }
    }
}
</script>

