<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
@import './assets/css/custom.css';
@import './assets/css/device.css';
@import './assets/font-avenir/font-avenir.css';
</style>
